/* reset */
* {margin:0;padding:0;box-sizing:border-box;font-weight:300;font-size:inherit;}
ul,ol {list-style:none;}
a {text-decoration:none;color:inherit;}

/* font,clearfix */
body {font-family: 'Noto Sans KR', sans-serif;position:relative;}
.cf:after {content:"";display:block;clear:both}