@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --mc01 : #9D1C20;
    --mc02 : #253A73;
    --mc03 : #B6985A;
    --sc01 : #717075;
    --sc02 : #A8A9AD;
    --sc03 : #342D2D;
    --sc04 : #FEFAF9;
    --fc : #2E2D34;
    --gc : #777777;
    --lc : #f2f2f2;
    --dc : #1d1d1b;
    --dd : #ddd;
}

body {color:var(--dc);}

.btn {display:inline-block;position:relative;font-size:0.7rem;padding:0 4px;width:100px;line-height:30px;text-align:center;font-family: 'Noto Sans', sans-serif;}

.btn_w>span {display:block;border-top:1px solid var(--lc);border-bottom:1px solid var(--lc);}
.btn_w:before {content:"";display:block;position:absolute;top:0;left:0;width:5px;height:32px;background:url(../img/button_left_w.svg) no-repeat;}
.btn_w:after {content:"";display:block;position:absolute;top:0;right:0;width:5px;height:32px;background:url(../img/button_right_w.svg) no-repeat;}

.btn_g>span {display:block;color:var(--mc03);border-top:1px solid var(--mc03);border-bottom:1px solid var(--mc03);}
.btn_g:before {content:"";display:block;position:absolute;top:0;left:0;width:5px;height:32px;background:url(../img/button_left_g.svg) no-repeat;}
.btn_g:after {content:"";display:block;position:absolute;top:0;right:0;width:5px;height:32px;background:url(../img/button_right_g.svg) no-repeat;}

.btn_b>span {display:block;color:var(--dc);border-top:1px solid var(--dc);border-bottom:1px solid var(--dc);}
.btn_b:before {content:"";display:block;position:absolute;top:0;left:0;width:5px;height:32px;background:url(../img/button_left_b.svg) no-repeat;}
.btn_b:after {content:"";display:block;position:absolute;top:0;right:0;width:5px;height:32px;background:url(../img/button_right_b.svg) no-repeat;}

h3 {display:flex;align-items:center;justify-content:space-between;margin-bottom:1.5rem;}
h3>span {font-size:1.5rem;font-weight:300;color:var(--sc03);font-family: 'Noto Serif', serif;}
h3:before {content:"";display:block;width:5rem;height:1px;background:var(--dd);margin-right:1.1rem;}
h3:after {content:"";display:block;width:100%;height:1px;background:var(--dd);margin-left:1.1rem;}

#wrap {position:relative;min-width:95rem;}


#header {position:fixed;top:0;display:flex;flex-direction:column;justify-content:space-between;left:0;width:10rem;height:100vh;background:var(--mc01);box-shadow:2px 0 1rem rgba(0,0,0,0.2);z-index:9999;}
#header h1>a {display:block;width:10rem;height:7rem;background:url(../img/logo.png) no-repeat center center/contain;text-indent:-99999px;}

#header .depth01>li>a {position:relative;display:block;font-size:1rem;font-weight:400;line-height:3.5rem;color:var(--lc);text-align:center;overflow:hidden;}
#header .depth01>li>a:before {content:"";position:absolute;top:50%;right:-0.5rem;transform:translateY(-50%) rotate(45deg);display:none;width:1rem;height:1rem;background:#fff;}
#header .depth01>li.on>a:before {display:block;}

#header .sub_menu {position:absolute;left:100%;top:0;display:flex;align-items:center;width:0;height:100vh;background:#fff;box-shadow:-0.5rem 0 0.5rem rgba(0,0,0,0.1) inset;white-space:nowrap;overflow:hidden;z-index:-1;}
#header .sub_menu.on {width:45rem;padding:0 3rem;transition:0.5s;}

#header .depth02 {width:100%;}
#header .depth02>li {position:relative;display:flex;margin-bottom:3rem;padding:0 2rem;}
#header .depth02>li:last-child {margin-bottom:0;}
#header .depth02>li~li:before {content:"";position:absolute;top:-1.5rem;left:0;width:100%;height:1px;background:var(--lc);}
#header .depth02>li>a {display:block;width:15rem;font-size:0.9rem;color:var(--mc02);font-weight:500;}

#header .depth03 {display:flex;flex-wrap:wrap;gap:1rem 0;width:100%;}
#header .depth03>li {position:relative;width:calc(100% / 2);}
#header .depth03>li:before {content:"\e93f";font-family: xeicon!important;position:absolute;top:50%;left:-1.5rem;color:var(--mc01);transform:translateY(-50%);opacity:0;transition:0.3s;}
#header .depth03>li:hover:before {left:-1rem;opacity:1;}
#header .depth03>li>a {display:block;font-size:0.75rem;font-weight:400;color:var(--gc);transition:0.2s;}
#header .depth03>li>a:hover {color:var(--mc01);}

#header .sub_menu .menu_close {position:absolute;top:2rem;right:2rem;}
#header .sub_menu .menu_close i {font-size:1.5rem;color:var(--dc);opacity:0;cursor:pointer;}
#header .sub_menu.on .menu_close i {opacity:1;transition:0.5s 0.5s;}

#header .side_menu>ul>li>a {display:block;line-height:3rem;font-size:0.75rem;color:var(--mc03);background:#840D13;border-top:1px solid var(--mc01);text-align:center;}
#header .side_menu i {font-size:1rem;transform:translateY(0.1rem);}

main {margin-left:10rem;}

.content {padding:3.5rem 0;}
.container {width:62.5rem;margin:0 auto;}

#main_visual {position:relative;}
#main_visual figure {height:20rem;position:relative;}
#main_visual figure .txt {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:62.5rem;text-align:right;color:var(--lc);}
#main_visual figure .txt h2 {font-family: 'Gowun Batang', serif;font-size:1.2rem;font-weight:700;margin-bottom:0.5rem;transform:translateX(3rem);opacity:0;}
#main_visual figure .txt p {font-size:0.75rem;font-weight:300;color:var(--dd);line-height:1.6;margin-bottom:1rem;transform:translateX(3rem);opacity:0;}
#main_visual figure .txt .btn {transform:translateX(3rem);opacity:0;}

#main_visual figure.on .txt h2 {transform:translateX(0);opacity:1;transition:1s;}
#main_visual figure.on .txt p {transform:translateX(0);opacity:1;transition:1s 0.2s;}
#main_visual figure.on .txt .btn {transform:translateX(0);opacity:1;transition:1s 0.4s;}

#main_visual .visual01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
#main_visual .visual02 {background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/main_visual02.jpg) no-repeat center center/cover;}
#main_visual .visual03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}

#main_visual .slick-dots {position:absolute;bottom:1rem;left:50%;transform:translateX(-50%);display:flex;gap:0.5rem;}
#main_visual .slick-dots li {display:block;width:0.25rem;height:0.25rem;border:1px solid var(--lc);border-radius:0.25rem;transition:0.3s;}
#main_visual .slick-dots li.slick-active {background:var(--lc);width:1rem;}
#main_visual .slick-dots button {display:none;}

#main_visual .link_wrapper {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:62.5rem;height:100%;margin:0 auto;pointer-events:none;}
#main_visual .link {position:relative;width:16rem;height:100%;padding:1.5rem 1rem;}
#main_visual .link:before {content:"";position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:var(--mc03);opacity:0.6;z-index:-1;}

#main_visual .link h3 {display:flex;align-items:center;justify-content:space-between;margin-bottom:1.5rem;}
#main_visual .link h3>span {font-size:0.9rem;font-weight:700;color:var(--lc);font-family: 'Noto Serif', serif;}
#main_visual .link h3:before {content:"";display:block;width:2.5rem;height:1px;background:#ddd;margin-right:0.65rem;}
#main_visual .link h3:after {content:"";display:block;width:100%;height:1px;background:#ddd;margin-left:0.65rem;}

#main_visual .link>ul {display:flex;flex-wrap:wrap;gap:0 1rem;}
#main_visual .link>ul>li {margin-bottom:0.4rem;position:relative;}
#main_visual .link>ul>li:before {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);display:block;width:0.1rem;height:0.1rem;background:var(--dd);}
#main_visual .link>ul>li>a {display:block;font-size:0.7rem;line-height:1.6;color:var(--dd);text-indent:0.3rem;pointer-events:visible;}
#main_visual .link>ul>li>a:hover {text-decoration:underline;text-underline-position:under;}


#focus .container {position:relative;}
#focus .slick-list {padding-right:10rem;}
#focus .focus_item {box-shadow:0.2rem 0.2rem 0.3rem rgba(0,0,0,0.1);margin-bottom:1rem;}
#focus .focus_item>a {display:flex;align-items:center;}
#focus .focus_item figcaption {background:#fff;padding:0 2rem;}
#focus .focus_item figcaption h4 {font-size:0.9rem;font-weight:500;margin-bottom:0.5rem;}
#focus .focus_item figcaption p {font-size:0.65rem;font-weight:300;line-height:1.2rem;}

#focus .slide_dots {position:absolute;top:50%;right:0;transform:translateY(-43%);}

#focus .slide_dots .arrow {position:absolute;left:50%;transform:translateX(-50%);display:block;width:1rem;height:3rem;transition:0.3s;}
#focus .slide_dots .arrow:hover {height:4rem;}
#focus .slide_dots .arrow:before {content:"";position:absolute;left:50%;transform:translateX(-50%);width:1px;height:100%;background:var(--sc01);}
#focus .slide_dots .arrow:after {content:"";position:absolute;left:50%;display:block;width:1px;height:0.5rem;background:var(--sc01);}
#focus .slide_dots .arrow:hover:before {background:var(--mc01);}
#focus .slide_dots .arrow:hover:after {background:var(--mc01);}

#focus .slide_dots .prev {bottom:100%;}
#focus .slide_dots .prev:before {bottom:0;}
#focus .slide_dots .prev:after {top:0;transform:translateX(-50%) rotate(-45deg);transform-origin:top;}

#focus .slide_dots .next {top:100%;}
#focus .slide_dots .next:before {top:0;}
#focus .slide_dots .next:after {bottom:0;transform:translateX(-50%) rotate(45deg);transform-origin:bottom;}

#focus .slide_dots .dots>ul {margin:1.5rem 0;}
#focus .slide_dots .dots>ul>li {display:block;width:0.25rem;height:0.25rem;border-radius:50%;border:1px solid #707070;margin:0.75rem auto;font-size:0;transition:0.3s;}
#focus .slide_dots .dots>ul>li.on {border-color:var(--mc01);background:var(--mc01);}


#announcements {background:#f9f9f9;}
#announcements .tab_wrapper {box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 0px 16px -8px;transform:translateY(10rem);opacity:0.3;transition:1s;}
#announcements.on .tab_wrapper {transform:translateY(0);opacity:1;}
#announcements .tab_wrapper .tab_menu h4 {text-align:center;font-size:1rem;font-weight:400;line-height:2rem;border-bottom:1px solid var(--dd);cursor:pointer;}
#announcements .tab_wrapper .tab_menu h4.on {background:var(--mc01);color:#fff;box-shadow:0 0.25rem 0.25rem rgba(0,0,0,0.05);transition:0.3s;}
#announcements .tab_wrapper .tab_menu ul {display:none;box-shadow:0 -0.25rem 0.25rem rgba(0,0,0,0.05) inset;padding:1rem 3rem;}
#announcements .tab_wrapper .tab_menu.on ul {display:block;}
#announcements .tab_wrapper .tab_menu ul>li {position:relative;}
#announcements .tab_wrapper .tab_menu ul>li>a {display:flex;justify-content:space-between;align-items:center;line-height:3;}
#announcements .tab_wrapper .tab_menu ul>li~li>a {border-top:1px solid var(--dd);}
#announcements .tab_wrapper .tab_menu ul>li:before {content:"\e93f";font-family: xeicon!important;position:absolute;top:50%;left:-2rem;transform:translateY(-50%);opacity:0;transition:0.3s;}
#announcements .tab_wrapper .tab_menu ul>li:hover:before {left:-1.5rem;opacity:1;}
#announcements .tab_wrapper .tab_menu ul>li>a strong {display:block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#announcements .tab_wrapper .tab_menu ul>li .date {font-size:0.7rem;color:var(--gc);}


#news {position:relative;padding:3.5rem 0 7rem 0;}
#news .news_wrapper .itms {width:20.1rem;margin-bottom:1.1rem;box-shadow:0 0.15rem 0.5rem rgba(0,0,0,0.1);transform:translateY(10rem);opacity:0;transition:1s;}
#news.row01 .news_wrapper .itms:nth-child(1) {transform:translateY(0);opacity:1;transition:1s;}
#news.row01 .news_wrapper .itms:nth-child(2) {transform:translateY(0);opacity:1;transition:1s 0.2s;}
#news.row01 .news_wrapper .itms:nth-child(3) {transform:translateY(0);opacity:1;transition:1s 0.4s;}
#news.row02 .news_wrapper .itms:nth-child(4) {transform:translateY(0);opacity:1;transition:1s;}
#news.row02 .news_wrapper .itms:nth-child(5) {transform:translateY(0);opacity:1;transition:1s 0.2s;}
#news.row02 .news_wrapper .itms:nth-child(6) {transform:translateY(0);opacity:1;transition:1s 0.4s;}
#news.row03 .news_wrapper .itms:nth-child(7) {transform:translateY(0);opacity:1;transition:1s;}
#news.row03 .news_wrapper .itms:nth-child(9) {transform:translateY(0);opacity:1;transition:1s 0.2s;}

#news .news_wrapper .itms>a {display:block;}
#news .news_wrapper .img_item {height:20rem;overflow:hidden;}
#news h4 {font-family: 'Gowun Batang', serif;color:#fff;line-height:2.2rem;padding:0 1.5rem;}
#news img {width:100%;}

#news .news_wrapper .txt_item {padding:1.5rem;}
#news .news_wrapper .txt_item>img {margin-bottom:1.5rem;}
#news .news_wrapper .txt_item>span {display:block;font-size:0.7rem;margin-bottom:0.5rem;color:#666;}
#news .news_wrapper .txt_item>h5 {font-size:0.8rem;font-weight:500;margin-bottom:1rem;color:var(--sc03);}
#news .news_wrapper .txt_item>p {font-size:0.7rem;font-weight:300;color:var(--gc);line-height:1.4;margin-bottom:1rem;}
#news .news_wrapper .txt_item>a {display:block;margin:0 auto;}

#news .news_wrapper .press {border:1px solid var(--mc02);}
#news .news_wrapper .press h4 {background:var(--mc02);}
#news .news_wrapper .ad {border:1px solid var(--mc03);}
#news .news_wrapper .ad h4 {background:var(--mc03);}
#news .news_wrapper .e_news {border:1px solid var(--sc01);}
#news .news_wrapper .e_news h4 {background:var(--sc01);}
#news .news_wrapper .book {border:1px solid var(--mc01);}
#news .news_wrapper .book h4 {background:var(--mc01);}
#news .news_wrapper .lux {border:1px solid var(--sc03);}
#news .news_wrapper .lux h4 {background:var(--sc03);}

#news .subscribe {position:absolute;bottom:0;left:50%;transform:translate(-50%,2rem);width:0;text-align:center;padding:1.5rem 0;border-radius:0.5rem;box-shadow:0.15rem 0.15rem 0.5rem rgba(0,0,0,0.15);background:#fff;white-space:nowrap;transition:width 0.5s;}
#news .subscribe label {display:block;font-family: 'Gowun Batang', serif;font-size:1.2rem;margin-bottom:1rem;}
#news .subscribe form {display:flex;justify-content:space-between;width:40rem;height:2.5rem;margin:0 auto;border:1px solid var(--dd);font-family: 'Noto Sans', sans-serif;}
#news .subscribe input {border:none;background:none;padding:0 1.5rem;width:100%;}
#news .subscribe input::placeholder {color:var(--dd);font-size:0.65rem;}
#news .subscribe button {padding:0 3rem;background:var(--mc01);color:#fff;transition:0.3s;}
#news .subscribe button:hover {box-shadow:0 0 0.5rem rgba(255,0,0,0.7) inset, 0 0 0.5rem rgba(255,0,0,0.1);}

#news.row04 .subscribe {width:62.5rem;}
#news .subscribe>* {opacity:0;}
#news.row04 .subscribe label {opacity:1;transition:0.5s 0.2s;}
#news.row04 .subscribe form {opacity:1;transition:0.5s 0.5s;}

#multimedia {background:var(--sc04);padding:5.5rem 0 3.5rem 0;overflow:hidden;}
#multimedia img {width:100%;}
#multimedia .media_wrapper {display:grid;grid-template-columns:2fr 1.1fr 1.3fr;gap:1.1rem;}
#multimedia figure:nth-child(1) {transform:translateX(-15rem);opacity:0;transition:1s}
#multimedia figure:nth-child(2) {transform:translateX(15rem);opacity:0;transition:1s 0.3s;}
#multimedia figure:nth-child(3) {transform:translateX(15rem);opacity:0;transition:1s 0.6s;}
#multimedia.on figure:nth-child(1) {transform:translateX(0);opacity:1;}
#multimedia.on figure:nth-child(2) {transform:translateX(0);opacity:1;}
#multimedia.on figure:nth-child(3) {transform:translateX(0);opacity:1;}
#multimedia figure h4 {font-size:0.7rem;margin-bottom:0.5rem;color:var(--gc);line-height:1.6;font-family: 'Noto Sans', sans-serif;}
#multimedia figure i {float:right;padding:0.2rem;background:var(--sc02);border-radius:50%;color:var(--lc);transition:0.5s;}
#multimedia figure:hover i {transform:rotate(90deg);background:var(--mc01);color:#fff;}
#multimedia figure img {margin-bottom:0.5rem;}
#multimedia figure p {font-size:0.7rem;line-height:1.4;text-align:right;color:var(--gc);}


#honor {background:url(../img/honor_bg.jpg) no-repeat top center/cover;padding:6rem 0;}
#honor strong {display:block;font-family: 'Noto Serif', serif;font-size:1.5rem;color:var(--lc);margin-bottom:1rem;}
#honor p {font-size:0.8rem;line-height:1.6;color:var(--dd);margin-bottom:1.5rem;}
#honor .btn {width:10rem;font-family: 'Noto Sans KR', sans-serif;}


#footer {padding:2.5rem 0;margin-left:10rem;background:var(--fc);color:var(--gc);}

#footer .container {display:flex;justify-content:space-between;}
#footer .left {display:flex;flex-direction:column;justify-content:space-between;}
#footer .right {}

#footer .footer_link ul {display:flex;}
#footer .footer_link ul>li>a {position:relative;display:block;font-size:0.8rem;line-height:1.4;padding:0 1.5rem;}
#footer .footer_link ul>li:first-child>a {padding-left:0;}
#footer .footer_link ul>li~li a:before {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);display:block;width:1px;height:0.6rem;background:#666;}
#footer .footer_link strong {color:var(--lc);}

#footer address>ul>li {font-size:0.8rem;line-height:1.8;}

#footer .copy {font-size:0.8rem;color:#666;}

#footer .site {position:relative;width:10rem;margin-left:auto;}
#footer .site>a {display:block;line-height:2rem;border:1px solid #707070;text-align:center;transition:0.5s;}
#footer .site>a:hover {color:var(--lc);box-shadow:0 0 1rem rgba(0,0,0,0.1) inset;}
#footer .site>a.on {color:var(--lc);box-shadow:0 0 1rem rgba(0,0,0,0.1) inset;}

#footer .site ul {position:absolute;bottom:100%;max-height:15rem;display:none;width:100%;background:var(--fc);color:var(--lc);padding:0.5rem 1rem;border:1px solid var(--sc01);border-bottom-color:transparent;overflow-y:auto;}
#footer .site ul::-webkit-scrollbar {width:0.2rem;}
#footer .site ul::-webkit-scrollbar-thumb {background:var(--mc01);}
#footer .site ul::-webkit-scrollbar-track {background:transparent;}

#footer .site ul>li~li {border-top:1px solid #444;}
#footer .site ul>li>a {display:block;font-size:0.65rem;line-height:1.6;padding:0.5rem 0.3rem;color:var(--sc01);}
#footer .site ul>li>a:hover {color:var(--lc);}

#footer .campus_site {margin-bottom:0.5rem;}
#footer .family_site {margin-bottom:2rem;}

#footer .sns_link ul {display:flex;}
#footer .sns_link ul>li>a {display:block;font-size:1rem;padding:0.5rem;background:#444;color:var(--dd);border-radius:50%;margin-left:0.3rem;transition:0.5s;}
#footer .sns_link ul>li>a:hover {color:var(--lc);box-shadow:0 0 1rem rgba(0,0,0,0.2) inset;}


.menu_bg {position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);opacity:0;visibility:hidden;transition:0.5s;z-index:99;}
.menu_bg.on {opacity:1;visibility:visible;}

.menu_open {display:none;}
.m_search {display:none;}





@media (max-width:768px) {
    h3 {display:flex;align-items:center;justify-content:center;margin-bottom:1.5rem;}
    h3>span {font-size:1.5rem;font-weight:300;color:var(--sc03);font-family: 'Noto Serif', serif;}
    h3:before {content:"";display:block;width:100%;height:1px;background:var(--dd);margin-right:1.1rem;}
    h3:after {content:"";display:block;width:100%;height:1px;background:var(--dd);margin-left:1.1rem;}
    
    #wrap {position:relative;min-width:auto;}
    
    
    #header {position:sticky;top:0;display:flex;flex-direction:row;justify-content:space-between;left:0;width:100%;height:3.5rem;background:var(--mc01);box-shadow:2px 0 1rem rgba(0,0,0,0.2);z-index:9999;}
    #header h1 {width:100%;padding:0 0.5rem;}
    #header h1>a {display:block;width:7rem;height:3.5rem;background:url(../img/m_logo.png) no-repeat center center/contain;}
    
    #header nav {display:none;position:fixed;top:3.5rem;right:0;background:#fff;width:100%;height:100vh;background:#840D13;}

    #header .depth01>li>a {position:relative;display:block;font-size:1rem;font-weight:400;line-height:3.5rem;color:var(--lc);text-align:left;width:7rem;padding-left:1rem;overflow:hidden;}
    #header .depth01>li>a:before {content:"";position:absolute;top:50%;right:-0.5rem;transform:translateY(-50%) rotate(45deg);display:none;width:1rem;height:1rem;background:#fff;}
    #header .depth01>li.on>a:before {display:block;}
    
    #header .depth01>li .sub_menu {position:absolute;left:7rem;top:0;display:none;align-items:start;width:100%;height:100vh;background:#fff;box-shadow:-0.5rem 0 0.5rem rgba(0,0,0,0.1) inset;white-space:nowrap;overflow:hidden;z-index:1;}
    #header .depth01>li.on .sub_menu {width:calc(100% - 7rem);padding:0;transition:none;display:block;}
    
    #header .depth02>li {position:relative;display:block;margin-bottom:0;padding:0;}
    #header .depth02>li:last-child {margin-bottom:0;}
    #header .depth02>li~li:before {content:"";position:absolute;top:0rem;left:0;width:100%;height:1px;background:var(--lc);}
    #header .depth02>li>a {display:block;width:auto;line-height:3.5rem;padding:0 1rem;;font-size:0.9rem;color:var(--mc02);font-weight:500;}
    #header .depth02>li>a:after {content:"\e942";font-family: xeicon!important;float:right;display:none;color:var(--sc02);}
    #header .depth02>li.plus>a:after {display:block;}
    #header .depth02>li>a.on:after {transform:rotate(180deg);}
    
    #header .depth03 {display:none;flex-wrap:wrap;gap:1rem 0;width:100%;padding:1rem 1rem 1rem 2rem;box-shadow:0 -0.5rem 0.4rem -0.05rem rgba(0,0,0,0.05) inset;border-top:1px solid var(--lc);}
    #header .depth03>li {position:relative;width:100%;}
    #header .depth03>li:before {content:"\e93f";font-family: xeicon!important;position:absolute;top:50%;left:-1.5rem;color:var(--mc01);transform:translateY(-50%);opacity:0;transition:0.3s;}
    #header .depth03>li:hover:before {left:-1rem;opacity:1;}
    #header .depth03>li>a {display:block;font-size:0.75rem;font-weight:400;color:var(--sc01);transition:0.2s;line-height:2;}
    #header .depth03>li>a:hover {color:var(--mc01);}
    
    #header .sub_menu .menu_close {display:none;position:absolute;top:2rem;right:2rem;}
    #header .sub_menu .menu_close i {font-size:1.5rem;color:var(--dc);opacity:0;cursor:pointer;}
    #header .sub_menu.on .menu_close i {opacity:1;transition:0.5s 0.5s;}
    
    #header .side_menu>ul>li>a {display:none;line-height:3rem;font-size:0.75rem;color:var(--mc03);background:#840D13;border-top:1px solid var(--mc01);text-align:center;}
    #header .side_menu i {font-size:1rem;transform:translateY(0.1rem);}
    
    main {margin-left:0;}
    
    .content {padding:3.5rem 0;}
    .container {width:auto;margin:0 auto;padding:0 0.5rem;}
    
    #main_visual {position:relative;}
    #main_visual figure {height:20rem;position:relative;}
    #main_visual figure .txt {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;padding:0 0.5rem;text-align:center;color:var(--lc);}
    #main_visual figure .txt h2 {font-family: 'Gowun Batang', serif;font-size:1.2rem;font-weight:700;margin-bottom:0.5rem;transform:translateY(3rem);opacity:0;}
    #main_visual figure .txt p {font-size:0.75rem;font-weight:300;color:var(--dd);line-height:1.6;margin-bottom:1rem;transform:translateY(3rem);opacity:0;}
    #main_visual figure .txt .btn {transform:translateY(3rem);opacity:0;}
    
    #main_visual figure.on .txt h2 {transform:translateX(0);opacity:1;transition:1s;}
    #main_visual figure.on .txt p {transform:translateX(0);opacity:1;transition:1s 0.2s;}
    #main_visual figure.on .txt .btn {transform:translateX(0);opacity:1;transition:1s 0.4s;}
    
    #main_visual .visual01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
    #main_visual .visual02 {background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/main_visual02.jpg) no-repeat center center/cover;}
    #main_visual .visual03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover;}
    
    #main_visual .slick-dots {position:absolute;bottom:1rem;left:50%;transform:translateX(-50%);display:flex;gap:0.5rem;}
    #main_visual .slick-dots li {display:block;width:0.25rem;height:0.25rem;border:1px solid var(--lc);border-radius:0.25rem;transition:0.3s;}
    #main_visual .slick-dots li.slick-active {background:var(--lc);width:1rem;}
    #main_visual .slick-dots button {display:none;}
    
    #main_visual .link_wrapper {display:none;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:62.5rem;height:100%;margin:0 auto;pointer-events:none;}
    #main_visual .link {position:relative;width:16rem;height:100%;padding:1.5rem 1rem;}
    #main_visual .link:before {content:"";position:absolute;top:0;left:0;display:block;width:100%;height:100%;background:var(--mc03);opacity:0.6;z-index:-1;}
    
    #main_visual .link h3 {display:flex;align-items:center;justify-content:space-between;margin-bottom:1.5rem;}
    #main_visual .link h3>span {font-size:0.9rem;font-weight:700;color:var(--lc);font-family: 'Noto Serif', serif;}
    #main_visual .link h3:before {content:"";display:block;width:2.5rem;height:1px;background:#ddd;margin-right:0.65rem;}
    #main_visual .link h3:after {content:"";display:block;width:100%;height:1px;background:#ddd;margin-left:0.65rem;}
    
    #main_visual .link>ul {display:flex;flex-wrap:wrap;gap:0 1rem;}
    #main_visual .link>ul>li {margin-bottom:0.4rem;position:relative;}
    #main_visual .link>ul>li:before {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);display:block;width:0.1rem;height:0.1rem;background:var(--dd);}
    #main_visual .link>ul>li>a {display:block;font-size:0.7rem;line-height:1.6;color:var(--dd);text-indent:0.3rem;pointer-events:visible;}
    #main_visual .link>ul>li>a:hover {text-decoration:underline;text-underline-position:under;}
    
    
    #focus .container {position:relative;}
    #focus .slick-list {padding-right:0;}
    #focus .focus_slider {margin-bottom:1.5rem;}
    #focus .focus_item {box-shadow:none;margin-bottom:0;}
    #focus .focus_item>a {display:flex;flex-direction:column;align-items:stretch;}
    #focus .focus_item figure {width:100%;margin-bottom:1rem;}
    #focus .focus_item figure img {width:100%;}
    #focus .focus_item figcaption {background:#fff;padding:0;}
    #focus .focus_item figcaption h4 {font-size:0.9rem;font-weight:500;margin-bottom:0.5rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    #focus .focus_item figcaption p {font-size:0.65rem;font-weight:300;line-height:1.2rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    
    #focus .slide_dots {position:static;top:50%;right:0;transform:translateY(-43%);}
    
    #focus .slide_dots .arrow {position:absolute;left:50%;transform:translateX(-50%);display:none;width:1rem;height:3rem;transition:0.3s;}
    #focus .slide_dots .arrow:hover {height:4rem;}
    #focus .slide_dots .arrow:before {content:"";position:absolute;left:50%;transform:translateX(-50%);width:1px;height:100%;background:var(--sc01);}
    #focus .slide_dots .arrow:after {content:"";position:absolute;left:50%;display:block;width:1px;height:0.5rem;background:var(--sc01);}
    #focus .slide_dots .arrow:hover:before {background:var(--mc01);}
    #focus .slide_dots .arrow:hover:after {background:var(--mc01);}
    
    #focus .slide_dots .prev {bottom:100%;}
    #focus .slide_dots .prev:before {bottom:0;}
    #focus .slide_dots .prev:after {top:0;transform:translateX(-50%) rotate(-45deg);transform-origin:top;}
    
    #focus .slide_dots .next {top:100%;}
    #focus .slide_dots .next:before {top:0;}
    #focus .slide_dots .next:after {bottom:0;transform:translateX(-50%) rotate(45deg);transform-origin:bottom;}
    
    #focus .slide_dots .dots>ul {display:flex;margin:0;width:15%;margin:0 auto;}
    #focus .slide_dots .dots>ul>li {display:block;width:0.25rem;height:0.25rem;border-radius:50%;border:1px solid #707070;margin:0 auto;font-size:0;transition:0.3s;}
    #focus .slide_dots .dots>ul>li.on {border-color:var(--mc01);background:var(--mc01);}
    
    
    #announcements {background:#f9f9f9;}
    #announcements .tab_wrapper {box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 0px 16px -8px;transform:translateY(10rem);opacity:0.3;transition:1s;}
    #announcements.on .tab_wrapper {transform:translateY(0);opacity:1;}
    #announcements .tab_wrapper .tab_menu h4 {text-align:center;font-size:1rem;font-weight:400;line-height:2rem;border-bottom:1px solid var(--dd);cursor:pointer;}
    #announcements .tab_wrapper .tab_menu h4.on {background:var(--mc01);color:#fff;box-shadow:0 0.25rem 0.25rem rgba(0,0,0,0.05);transition:0.3s;}
    #announcements .tab_wrapper .tab_menu ul {display:none;box-shadow:0 -0.25rem 0.25rem rgba(0,0,0,0.05) inset;padding:1rem 0.5rem;}
    #announcements .tab_wrapper .tab_menu.on ul {display:block;}
    #announcements .tab_wrapper .tab_menu ul>li {position:relative;}
    #announcements .tab_wrapper .tab_menu ul>li>a {display:flex;justify-content:space-between;align-items:center;line-height:3;}
    #announcements .tab_wrapper .tab_menu ul>li~li>a {border-top:1px solid var(--dd);}
    #announcements .tab_wrapper .tab_menu ul>li:before {content:"\e93f";font-family: xeicon!important;display:none;position:absolute;top:50%;left:-2rem;transform:translateY(-50%);opacity:0;transition:0.3s;}
    #announcements .tab_wrapper .tab_menu ul>li:hover:before {left:-1.5rem;opacity:1;}
    #announcements .tab_wrapper .tab_menu ul>li>a strong {display:block;width:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    #announcements .tab_wrapper .tab_menu ul>li .date {font-size:0.5rem;color:var(--gc);}
    
    
    #news {position:relative;padding:3.5rem 0 8.5rem 0;}
    #news .news_wrapper .itms {display:inline-block;width:calc((100% - 22px) / 2);margin-bottom:1.1rem;box-shadow:0 0.15rem 0.5rem rgba(0,0,0,0.1);transform:translateY(10rem);opacity:0;transition:1s;}
    #news.row01 .news_wrapper .itms:nth-child(1) {transform:translateY(0);opacity:1;transition:1s;}
    #news.row01 .news_wrapper .itms:nth-child(2) {transform:translateY(0);opacity:1;transition:1s 0.2s;}
    #news.row01 .news_wrapper .itms:nth-child(3) {transform:translateY(0);opacity:1;transition:1s 0.4s;}
    #news.row02 .news_wrapper .itms:nth-child(4) {transform:translateY(0);opacity:1;transition:1s;}
    #news.row02 .news_wrapper .itms:nth-child(5) {transform:translateY(0);opacity:1;transition:1s 0.2s;}
    #news.row02 .news_wrapper .itms:nth-child(6) {transform:translateY(0);opacity:1;transition:1s 0.4s;}
    #news.row03 .news_wrapper .itms:nth-child(7) {transform:translateY(0);opacity:1;transition:1s;}
    #news.row03 .news_wrapper .itms:nth-child(8) {display:none;}
    #news.row03 .news_wrapper .itms:nth-child(9) {transform:translateY(0);opacity:1;transition:1s 0.2s;}
    
    #news .news_wrapper .itms>a {display:block;}
    #news .news_wrapper .img_item {height:auto;max-height:15rem;overflow:hidden;}
    #news h4 {font-family: 'Gowun Batang', serif;color:#fff;line-height:2.2rem;padding:0 1.5rem;}
    #news img {width:100%;}
    
    #news .news_wrapper .txt_item {padding:1.5rem 0.75rem;}
    #news .news_wrapper .txt_item>img {margin-bottom:1.5rem;}
    #news .news_wrapper .txt_item>span {display:block;font-size:0.7rem;margin-bottom:0.5rem;color:#666;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    #news .news_wrapper .txt_item>h5 {font-size:0.8rem;font-weight:500;margin-bottom:1rem;color:var(--sc03);line-height:1.4;}
    #news .news_wrapper .txt_item>p {font-size:0.7rem;font-weight:300;color:var(--gc);line-height:1.4;margin-bottom:1rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    #news .news_wrapper .txt_item>a {display:block;margin:0 auto;}
    
    #news .news_wrapper .press {border:1px solid var(--mc02);}
    #news .news_wrapper .press h4 {background:var(--mc02);}
    #news .news_wrapper .ad {border:1px solid var(--mc03);}
    #news .news_wrapper .ad h4 {background:var(--mc03);}
    #news .news_wrapper .e_news {border:1px solid var(--sc01);}
    #news .news_wrapper .e_news h4 {background:var(--sc01);}
    #news .news_wrapper .book {border:1px solid var(--mc01);}
    #news .news_wrapper .book h4 {background:var(--mc01);}
    #news .news_wrapper .lux {border:1px solid var(--sc03);}
    #news .news_wrapper .lux h4 {background:var(--sc03);}
    
    #news .subscribe {position:absolute;bottom:0;left:50%;transform:translate(-50%,2rem);width:0;text-align:center;padding:1.5rem 0.5rem;border-radius:0.5rem;box-shadow:0.15rem 0.15rem 0.5rem rgba(0,0,0,0.15);background:#fff;white-space:nowrap;transition:width 0.5s;overflow:hidden;}
    #news .subscribe label {display:block;font-family: 'Gowun Batang', serif;font-size:1rem;margin-bottom:1rem;}
    #news .subscribe form {display:flex;flex-direction:column;justify-content:space-between;width:100%;height:auto;margin:0 auto;border:none;}
    #news .subscribe input {border:1px solid var(--dd);background:none;padding:0.5rem 1rem;width:100%;margin-bottom:0.5rem;}
    #news .subscribe input::placeholder {color:var(--dd);font-size:0.65rem;}
    #news .subscribe button {padding:0.5rem 3rem;background:var(--mc01);color:#fff;transition:0.3s;}
    #news .subscribe button:hover {box-shadow:0 0 0.5rem rgba(255,0,0,0.7) inset, 0 0 0.5rem rgba(255,0,0,0.1);}
    
    #news.row04 .subscribe {width:calc(100% - 1rem);}
    #news .subscribe>* {opacity:0;}
    #news.row04 .subscribe label {opacity:1;transition:0.5s 0.2s;}
    #news.row04 .subscribe form {opacity:1;transition:0.5s 0.5s;}
    
    #multimedia {background:var(--sc04);padding:5.5rem 0 3.5rem 0;overflow-x:hidden;}
    #multimedia img {width:100%;}
    #multimedia .media_wrapper {display:grid;grid-template-columns:1fr;gap:1.1rem;}
    #multimedia figure~figure {border-top:1px dashed var(--dd);padding-top:1.1rem;}
    #multimedia figure:nth-child(1) {transform:translateY(15rem);opacity:0;transition:1s}
    #multimedia figure:nth-child(2) {transform:translateY(15rem);opacity:0;transition:1s 0.3s;}
    #multimedia figure:nth-child(3) {transform:translateY(15rem);opacity:0;transition:1s 0.6s;}
    #multimedia.on figure:nth-child(1) {transform:translateX(0);opacity:1;}
    #multimedia.on figure:nth-child(2) {transform:translateX(0);opacity:1;}
    #multimedia.on figure:nth-child(3) {transform:translateX(0);opacity:1;}
    #multimedia figure h4 {font-size:0.7rem;margin-bottom:0.5rem;color:var(--gc);line-height:1.6;}
    #multimedia figure i {float:right;padding:0.2rem;background:var(--sc02);border-radius:50%;color:var(--lc);transition:0.5s;}
    #multimedia figure:hover i {transform:rotate(90deg);background:var(--mc01);color:#fff;}
    #multimedia figure img {margin-bottom:0.5rem;}
    #multimedia figure p {font-size:0.7rem;line-height:1.4;text-align:right;color:var(--gc);}
    
    
    #honor {background:url(../img/honor_bg.jpg) no-repeat top center/cover;padding:6rem 0;text-align:center;}
    #honor strong {display:block;font-family: 'Noto Serif', serif;font-size:1.5rem;color:var(--lc);margin-bottom:1rem;}
    #honor p {font-size:0.7rem;line-height:1.6;color:var(--dd);margin-bottom:1.5rem;}
    #honor .btn {width:10rem;font-family: 'Noto Sans KR', sans-serif;}
    
    
    #footer {padding:2.5rem 0;margin-left:0;background:var(--fc);color:var(--gc);text-align:center;}
    
    #footer .container {display:flex;flex-direction:column;justify-content:flex-start;}
    #footer .left {display:flex;flex-direction:column;justify-content:flex-start;}
    #footer .right {}
    
    #footer .footer_link {padding-bottom:1rem;}
    #footer .footer_link ul {display:block;}
    #footer .footer_link ul>li {display:inline-block;}
    #footer .footer_link ul>li>a {position:relative;display:block;font-size:0.75rem;line-height:1.4;padding:0.2rem 0.5rem;}
    #footer .footer_link ul>li:first-child>a {padding-left:0;}
    #footer .footer_link ul>li~li a:before {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);display:none;width:1px;height:0.6rem;background:#666;}
    #footer .footer_link strong {color:var(--lc);}
    
    #footer address {border-top:1px solid #444;padding:1rem 0 0.5rem 0;}
    #footer address>ul>li {font-size:0.65rem;line-height:1.5;}
    
    #footer .copy {font-size:0.65rem;color:#666;margin-bottom:0.6rem;line-height:1.5;}
    
    #footer .site {position:relative;width:10rem;margin:0 auto;}
    #footer .site>a {display:block;font-size:0.7rem;line-height:2rem;border:1px solid #707070;text-align:center;transition:0.5s;}
    #footer .site>a:hover {color:var(--lc);box-shadow:0 0 1rem rgba(0,0,0,0.1) inset;}
    #footer .site>a.on {color:var(--lc);box-shadow:0 0 1rem rgba(0,0,0,0.1) inset;}
    
    #footer .site ul {position:absolute;bottom:100%;max-height:15rem;display:none;width:100%;background:var(--fc);color:var(--lc);padding:0.5rem 1rem;border:1px solid var(--sc01);border-bottom-color:transparent;overflow-y:auto;}
    #footer .site ul::-webkit-scrollbar {width:0.2rem;}
    #footer .site ul::-webkit-scrollbar-thumb {background:var(--mc01);}
    #footer .site ul::-webkit-scrollbar-track {background:transparent;}
    
    #footer .site ul>li~li {border-top:1px solid #444;}
    #footer .site ul>li>a {display:block;font-size:0.65rem;line-height:1.6;padding:0.5rem 0.3rem;color:var(--sc01);}
    #footer .site ul>li>a:hover {color:var(--lc);}
    
    #footer .campus_site {margin-bottom:0.5rem;}
    #footer .family_site {margin-bottom:1rem;}
    
    #footer .sns_link ul {display:flex;flex-wrap:wrap;gap:0.3rem;justify-content:center;}
    #footer .sns_link ul>li>a {display:block;font-size:1rem;padding:0.5rem;background:#444;color:var(--dd);border-radius:50%;margin:0;transition:0.5s;}
    #footer .sns_link ul>li>a:hover {color:var(--lc);box-shadow:0 0 1rem rgba(0,0,0,0.2) inset;}
    
    
    .menu_bg {position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);opacity:0;visibility:hidden;transition:0.5s;z-index:99;}
    .menu_bg.on {opacity:1;visibility:visible;}

    
    .menu_open {display:block;position:fixed;top:1.35rem;right:0.5rem;width:1.5rem;height:0.7rem;z-index:9999;}
    .menu_open span {position:absolute;display:block;background:var(--lc);width:100%;height:2px;transition:0.5s;}


    .menu_open span:nth-child(1) {top:0;right:0;width:85%;}
    .menu_open span:nth-child(3) {top:50%;right:0;width:70%;}
    .menu_open span:nth-child(2) {top:50%;right:0;width:70%;}
    .menu_open span:nth-child(4) {top:100%;left:0;}

    .menu_open.on span:nth-child(1) {right:3rem;opacity:0;}
    .menu_open.on span:nth-child(3) {animation:bar1 1s both;}
    .menu_open.on span:nth-child(2) {animation:bar2 1s both;}
    .menu_open.on span:nth-child(4) {left:3rem;opacity:0;}

    @keyframes bar1 {
        0% {right:0;}
        20% {right:50%;transform:translateX(50%);width:1px;}
        40% {right:50%;transform:translateX(50%) rotate(45deg);}
        100% {width:85%;right:50%;transform:translateX(50%) rotate(45deg);}
    }
    @keyframes bar2 {
        0% {right:0;}
        20% {right:50%;transform:translateX(50%);width:1px;}
        40% {rigth:50%;transform:translateX(50%) rotate(-45deg);}
        100% {width:85%;right:50%;transform:translateX(50%) rotate(-45deg);}
    }

    .m_search {display:block;position:fixed;top:0;right:2.5rem;z-index:9999;}
    .m_search a {display:block;padding:0 0.5rem;font-size:1.2rem;line-height:3.5rem;color:var(--lc);}
}



@media (max-width:500px) {
    #header .depth01>li>a {font-size:0.9rem;width:6rem;}
    #header .depth01>li.on .sub_menu {left:6rem;width:calc(100% - 6rem);}
    #header .depth02>li>a {font-size:0.8rem;}
    #main_visual figure .txt h2 {font-size:5vw;}
    #main_visual figure .txt p {font-size:3vw;}
    #announcements .tab_wrapper .tab_menu ul>li>a strong {font-size:0.65rem;}
    #news .news_wrapper .itms {width:100%;}
}












