.hover {position: relative; width:400px; height:400px; background:url(../lib/base/main_item01.jpg); margin:100px auto; 
padding:50px; overflow:hidden; transition:0.6s;}
.hover h2 {font-size:25px; font-weight:500; margin-bottom:15px;}

.hover01:hover {background-position-y:-100px;}
.hover02:hover {background-position-x:-100px;}

.hover03 {display:flex; font-size:13px; text-align:center; }
.hover03 p {margin:auto; line-height:2; opacity:0; transition:0.4s;}
.hover03:hover p {opacity:1;}
.hover03 p:before {content:""; display:block; width:80px; height:1px; background:#f00; transform:translateX(-500px); transition:0.5s;}
.hover03 p:after {content:""; display:block; width:80px; height:1px; background:#f00; transform:translateX(500px); transition:0.5s;}
.hover03:hover p:before {transform:translateX(0)}
.hover03:hover p:after {transform:translateX(0)}



.hover04 {display:flex; font-size:13px; text-align:center; }
.hover04 p {margin:auto; line-height:2; opacity:0; transition:0.4s;}
.hover04:hover p {opacity:1;}
.hover04 p:before {content:""; display:block; width:1px; height:20px; background:#f00; 
    transform:translate(60px,-400px); transition:0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
.hover04 p:after {content:""; display:block; width:20px; height:1px; background:#f00; 
    transform:translate(-400px,30px); transition:0.5s ;}
    
.hover04:hover p:before {transform:translate(50px,68px)}
.hover04:hover p:after {transform:translate(40px,30px)}



.hover05 .case {position:absolute; bottom:0; right:0; background:#fff; }
.hover05 i {padding:10px;font-size:30px; transition:0.4s;}
.hover05:hover i {transform:rotate(360deg);}

.hover06:before {content:""; display:block; width:0; height:0; border-top:1px solid#fff;
border-left:1px solid#fff;position:absolute; top:10px; left:10px;transition:0.5s;}
.hover06:after {content:""; display:block; width:0; height:0; border-bottom:1px solid#fff;
border-right:1px solid#fff;position:absolute; bottom:10px; right:10px;;transition:0.5s;}

.hover06:hover:before {width:380px; height:380px; }
.hover06:hover:after {width:380px; height:380px;}




.hover07 {background:#333;}
.hover07 p {position:absolute; top:10px; left:10px; width:380px; height:380px; 
background:url(../lib/base/main_item01.jpg);z-index:999;  }
.hover07::before {content:""; display:block; width:0; height:10px; background:#ff0;
position:absolute; top:0; left:0;}
.hover07::after {content:""; display:block; width:0; height:0; background:#f00;
position:absolute; top:0; left:0;}

.hover07:hover:before {width:400px; transition:0.4s;}








































































