#header {position:fixed; top:0; left:0; width:350px; height:100vh; background:#ff0; }
#visual {margin:0 350px 0 350px;height:100vh; background:#f00;}
#footer {position:fixed;top:0; right:0; width:350px;  height:100vh; background:#369;}

@media (max-width:768px) {
    #header {position:static; width:auto;}
    #visual {margin:0 0 0 0;}
    #footer {position:static; width:auto; }
}



























