/* * {outline: 1px solid #f00;} */

#wrap {}

.container {width: 1200px; margin: 0 auto;}
.container::after {content: ""; display: block; clear: both;}
.container>* {padding: 0 15px;}




.header {position: sticky; top: 0; left: 0; line-height: 100px; background: #fff; z-index: 999;}
.header h1 {float: left; width: 25%;}
.header h1 img {width: 180px;}
.header nav {float: left; width: calc(75% - 60px);}
.header .top_banner {float: right;}
.header ul {text-align: center;}
.header ul>li {display: inline-block;}
.header ul>li>a {display: block; padding: 0 30px;}

.main {}
.main_slider {}
.main_slider figure {height: calc(100vh - 100px);}
.main_slider .item01 {background: url(../lib/base/main_visual01.jpg) no-repeat center center/cover;}
.main_slider .item02 {background: url(../lib/base/main_visual02.jpg) no-repeat center center/cover;}
.main_slider .item03 {background: url(../lib/base/main_visual03.jpg) no-repeat center center/cover;}


.content {padding: 100px 0; background: #fff;}
.content figure {float: left; width: 33.3333%;}
.content i {position: sticky; top: 300px; left: 0; font-size: 50px; padding: 10px; background: #000;
color: #fff;}

.footer {padding: 50px 0 100vh 0; background: #333; color: #fff; text-align: center;}
