@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

:root {
  --mc:#316C99;
  --sc:#85CAFF;
  --lc:#f7f7f7;
  --dc:#444;
}
html {font-size:20px;}
body {font-size:0.8rem;color:var(--dc);}


#Wrap {min-width:95rem;}

#header h1 {position:fixed;top:3rem;left:3rem;z-index:999;}
#header h1 a {display: block; width: 15rem;}
#header nav {position:fixed;top:50%;right:3rem;transform:translateY(-50%);z-index:999;}
#header .cover_btn {position:fixed;top:3rem;right:3rem;z-index:999;}
#header .cover_btn i {font-size:1.5rem;padding:.5rem;background:var(--lc)}

#header nav li a {position: relative; display: block; width: 3rem; height: 1rem; text-indent: -9999px; }
#header nav li a::after {content: "";position: absolute;top: 0.35rem;right: 0; display: block; width: 40%; height: 0.3rem; background: var(--mc); border-radius: 0.15rem; transition: 0.3s;}
#header nav li.on a::after {width: 100%;}

.st0 {fill: #EF4141; animation:pathChange 2s infinite;}
.txt1 {fill:#F8F4F5;font-family: 'Montserrat', sans-serif;font-size:2.5rem;}
.txt2 {fill:#333333;font-family: 'Montserrat', sans-serif;font-size:2.5rem;}

@keyframes colorChange {
    0% {fill: #EF4141;}
    50% {fill: #336699;}
    100% {fill: #EF4141;}
}

@keyframes pathChange {
    0% {d:path("M492.6,150.8c11.7,78.7-109.5,138.9-243.9,144C114,300-6.4,229.6,4.7,150.8C15.7,73,114.1,13.7,248.6,6.8 C382.3,0,480.8,71.5,492.6,150.8z")}
    25% {d:path("M273.6,143.5C195,131.2,384.4,275,250,280.1c-134.6,5.1-226.2-49.7-226.9-129.3c-0.7-83,81.5-113.5,221.1-115.4 C376.5,33.7,419.8,166.3,273.6,143.5z")}
    50% {d:path("M273.6,143.5c11.7,78.7,109.5,146.2-25,151.3C114,300-6.4,229.6,4.7,150.8C15.7,73,114.1,13.7,248.6,6.8 C382.3,0,261.9,64.1,273.6,143.5z")}
    75% {d:path("M273.6,143.5c-78.6-12.2,20.9,164.9-92.6,92.6c-117.4-74.9,42.6,1.4,41.9-78.1c-0.7-83-124.2-71.1,21.3-122.5 C368.9-8.6,419.8,166.3,273.6,143.5z")}
    100% {d:path("M492.6,150.8c11.7,78.7-109.5,138.9-243.9,144C114,300-6.4,229.6,4.7,150.8C15.7,73,114.1,13.7,248.6,6.8 C382.3,0,480.8,71.5,492.6,150.8z")}
}


.gooey {filter:url('#bbq');position:relative;height:4rem;}
.gooey span {position:absolute;top:0;left:0;display:block;width:2.5rem;height:2.5rem;background:var(--sc);border-radius:0.5rem;text-align:center;line-height:2.5rem;color:var(--lc)}
.gooey span:nth-child(2) {animation:txtAni 3s infinite;}


@keyframes txtAni {
    0% {left:0}
    50% {left:7rem}
    100% {left:0}
}

.box_mask {width:20rem;}
.st7 {animation:maskAni 2s infinite;}

@keyframes maskAni {
    0% {d:path("M310.3,385.2H84.8c-36,0-65.4-29.4-65.4-65.4V94.3c0-36,29.4-65.4,65.4-65.4h225.6c36,0,65.4,29.4,65.4,65.4 v225.6C375.7,355.8,346.3,385.2,310.3,385.2z")}
    50% {d:path("M310.3,385.2H84.8c-36,0-65.4-29.4-65.4-65.4V94.3c0-36,52.2,2.2,65.4-65.4h225.6c36,0,65.4,29.4,65.4,65.4 v207.2C375.7,337.5,311,303,310.3,385.2z")}
    100% {d:path("M310.3,385.2H84.8c-36,0-65.4-29.4-65.4-65.4V94.3c0-36,29.4-65.4,65.4-65.4h225.6c36,0,65.4,29.4,65.4,65.4 v225.6C375.7,355.8,346.3,385.2,310.3,385.2z")}
    
}
.section {background: url(./lib/base/bgPattern02.png);}
.section img {max-width: 100%;}
.section .mockup {background: url(./lib/base/mockupScreen.png)no-repeat center top/100%; padding: 7.5% 11% 8% 11%;}

.container {position: relative;  display: grid;grid-template-columns: repeat(2,1fr);align-items: center; gap: 2rem; width: 70rem; margin: 0 auto;}
 
.section .mockup figure   {position: relative; padding-bottom: 56.25%; overflow: hidden;}
.section .mockup figure img {position: absolute; top: 0; left: 0;width: 100%; transition: 1.5s;cursor: pointer; }
.section .mockup figure:hover img {transform: translateY(-100%); top: 100%;}

.section .description h3 {font-family: 'Montserrat', sans-serif; font-size: 2rem; font-weight: 100; margin-bottom: 1rem;}
.section .description p {font-size: 0.75rem; font-weight: 300; margin-bottom: 2rem;}
.section .description dl {display: inline-flex; line-height: 1.5rem; border-bottom: 1px solid #ddd;}
.section .description dl dt {width: 6rem;}
.section .description dl dt::before {content: "-";  margin-right: 0.5rem;}
.section .description dl:last-of-type{margin-bottom:2rem ;}
.section .description dd span {display: inline-block; width: 0.6rem; height: 0.6rem;border-radius: 50%; vertical-align: middle;}
.section .description dd strong {vertical-align: middle;}
.section .description dd span:nth-of-type(1) {background: #333;}
.section .description dd span:nth-of-type(2) {background: #666;}
.section .description dd span:nth-of-type(3) {background: #999;}

.section .description ul {display: flex; gap: 0.5rem;}
.section .description ul a{display: block; background: var(--mc);color: var(--lc); line-height: 3rem; padding:0 2rem ; font-size: 1rem; font-weight: 100; border-radius: 0.3rem;}

.intro figure {border-radius: 60% 40% 28% 72% / 34% 69% 31% 66% ; overflow: hidden; animation: int_movie 5s infinite;}
.intro .container::after {content: '';position: absolute;top: 3rem; right: 1rem; display: block; width: 5rem; height: 5rem; background: var(--sc); border-radius: 50%; opacity: 0.5;}

.intro figure:hover {border-radius:36% 64% 74% 26% / 64% 52% 48% 36% ;}
.intro figure img {width: 100%;}
@keyframes int_movie {
    0%{border-radius: 60% 40% 28% 72% / 34% 69% 31% 66% ;}
    50%{border-radius: 36% 64% 74% 26% / 64% 52% 48% 36% ; }
    100%{border-radius: 60% 40% 28% 72% / 34% 69% 31% 66% ;}
}

.intro .slogan h2 {font-size: 4rem; font-weight: 700; margin-bottom: 1rem;}
.intro .slogan p {font-size: 0.75rem; font-weight: 200; margin-bottom: 1rem;}
.intro .slogan strong {font-size: 1rem; font-weight: 300; margin-bottom: 1rem;}


.intro .wheel {position: absolute; bottom: 3rem; left: 50%; transform: translateX(-50%);width: 1.5rem;height: 2.5rem; border: 2px solid #444; font-size: 0; border-radius: 0.7rem;}
.intro .wheel span {position: absolute; top: .3rem;left: 50%; transform: translateX(-50%);width: 0.2rem; height: 0.5rem; background: #444; border-radius: 0.1rem; animation: wheel 0.7s infinite;}
 

@keyframes wheel {
  to {top: 0.6rem;}
}














#footer .toTop {position:fixed;bottom:3rem;right:3rem;z-index:999;}
#footer .toTop i {font-size:1.5rem;padding:.5rem;background:var(--lc)}
#footer address {position:fixed;bottom:3rem;left:3rem;z-index:999;}




