@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*, *:before,*:after {box-sizing:border-box;}

h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt,p,body,a,figure,aside,article,section,fieldset,div {margin:0;padding:0;font-size:inherit;font-weight:inherit;color:inherit;outline:none;}

ul, ol {list-style:none;}
a {text-decoration:none;}
img {vertical-align:middle;}
address, em {font-style:normal;}
strong, b {font-weight:normal;}


input,legend,fieldset,select {outline:none;border:none;font-family: 'Noto Sans KR', sans-serif;}
legend {position:absolute;top:0;width:0;height:0;font-size:0;opacity:0;overflow:hidden;z-index:-999999}

body {font-family: 'Noto Sans KR', sans-serif;color:#333;line-height:1;overflow-x:hidden;}


.cf:after, .row:after {content:"";display:block;clear:both;}