body {background:linear-gradient(#970101b6 10%, #021670c2 90%); color:#fff;font-weight:300; text-align:center;}

#bal {margin:200px 0; padding:100px 0; position:relative;}

#bal h2 {font-size:20px; font-weight:300; letter-spacing:1em; margin-bottom:20px;}
#bal p {font-size:14px; font-weight:100; line-height:1.6; margin-bottom:20px;}

#bal .container {width:500px; height:500px; margin:0 auto; overflow:hidden; position:relative;}               /*->640,400은 이미지 크기에 맞춘것*/
#bal .case {position:absolute; top:0; left:0;}

#bal .btn {display:flex; justify-content:center;}
#bal .btn li {width:12px; height:12px; background:#fffb0070; border-radius:50%; margin:0 15px; cursor:pointer; text-indent:-9999px;}
#bal .btn li:hover {background:#ff0; width:15px; height:15px;}

.moon {position:absolute; top:150px; left:150px; animation:moonmove 7s infinite linear; width:200px; filter: grayscale(80%);}
.fly {position:absolute; bottom:250px; left:150px; animation:fly 5s both; width:200px;}
.fly figure {animation:flys 1.5s infinite;}

@keyframes moonmove {
    to {transform:rotate(360deg);}
}

@keyframes flys {                                  /*->나비날개펄럭이는 애니메이션*/
    0% {transform:scaleX(0);} 
    50% {transform:scaleX(1);} 
    100% {transform:scaleX(0);} 
}

@keyframes fly {
    0% {transform:translate(0,0) rotate(45deg)} 
    10% {transform:translate(100px,-100px) rotate(58deg)} 
    20% {transform:translate(200px,-70px) rotate(68deg)} 
    30% {transform:translate(300px,-150px) rotate(58deg)} 
    40% {transform:translate(400px,-100px) rotate(68deg)} 
    50% {transform:translate(500px,-200px) rotate(58deg)} 
    60% {transform:translate(600px,-150px) rotate(68deg)} 
    70% {transform:translate(700px,-250px) rotate(58deg)} 
    80% {transform:translate(800px,-200px) rotate(68deg)} 
    90% {transform:translate(900px,-300px) rotate(58deg)} 
    100% {transform:translate(1000px,-300px) rotate(-45deg)} 

}


































