
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');



:root {
    --mc:#a87df0;
    --sc:#d8eafb;
    --lc:#f7f7f7;
    --dc:#444444;
    --gc:#dddddd;
}

@media (max-width:768px) {
    :root {
        --mc:#a87df0;
        --sc:#d8eafb;
        --lc:#f7f7f7;
        --dc:#444444;
        --gc:#dddddd;
    }
    
}


body {color: var(--lc);}
.container {position: relative; display: flex; margin: 0 auto; width: 1400px; z-index: 1;}
#wrap {min-width: 1900px;}



/* 반응형 전체 */
@media (max-width:768px) {
    body {color: var(--lc);}
    .container {display: flex; flex-direction: column; position: relative; margin: 0 auto; width: auto; z-index: 1;}
    #wrap {min-width: auto;}
}


#header {}
/* nav */
#header nav {position: fixed; top: 50%; right: 60px; transform: translateY(-50%); z-index: 999;}
#header nav li a {position: relative; display: block; width: 60px; height: 18px; text-indent: -99999px;}
#header nav li a:after {content: ""; display: block; position: absolute; top: 7px; right: 0; width: 40%; height: 1px; background: var(--mc);
border-radius: 3px; transition: 0.3s;}
#header nav li.on a:after {width: 80%; background: var(--sc);}

/* mopen */
#header .mopen {position: fixed; top: 60px; left: 60px; padding: 15px 10px; cursor: pointer; border-radius: 50%; line-height: 1; background: var(--mc); z-index: 999}
#header .hamburger-box {position: relative; transform: translateX(3px);}

#header .hamburger-inner {background: #fff; width: 35px;}
#header .hamburger-inner::before {background: #fff; width: 35px;}
#header .hamburger-inner::after {background: #fff; width: 35px;}



/* 반응형 header nav & mopen*/
@media (max-width:768px) {
    #header {}
    /* nav */
    #header nav {display: none; position: fixed; top: 50%; right: 20px; transform: translateY(-50%); z-index: 999;}
    #header nav li a {position: relative; display: block; width: 30px; height: 12px; text-indent: -99999px;}
    #header nav li a:after {content: ""; display: block; position: absolute; top: 7px; right: 0; width: 45%; height: 3px; background: var(--mc);
    border-radius: 3px; transition: 0.3s;}
    #header nav li.on a:after {width: 80%; background: var(--sc);}
    
    /* mopen */
    #header .mopen {position: fixed; top: 20px; left: 20px; padding: 10px 5px; cursor: pointer; border-radius: 50%; line-height: 1; background: var(--mc); z-index: 999}
    #header .hamburger-box {position: relative; transform: translateX(8px);}
    
    #header .hamburger-inner {background: #fff; width: 25px;}
    #header .hamburger-inner::before {background: #fff; width: 25px;}
    #header .hamburger-inner::after {background: #fff; width: 25px;}
    
}




/* 전체섹션 & 목업(이미지) */
.section {background:url(../img/bg0.jpg) no-repeat; background-attachment: fixed;}
.section img {max-width: 100%;}
.section .mockup {flex: 1; background: url(../img/pc.png) no-repeat center center/100%; padding: 6% 5% 7% 4.5%;}
.section .mockup figure {position: relative; padding-bottom: 67%; overflow: hidden; width: 100%;}
.section .mockup figure img {position: absolute; top: 0; left: 0; width: 100%; transition: 6s linear;}
.section .mockup figure:hover img {transform: translateY(-100%); top: 100%; cursor: pointer;}


/* 전체섹션 - 텍스트 */
.section .description {flex: 1; color: var(--lc); margin: 100px 0 0 0;}
.section .description h3 {font-family: 'Rufina', serif; font-size: 53px; font-weight: 300; margin-bottom: 10px;}
/* .section .description .txt {display: flex;} */
.section .description h4 {display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; margin-bottom: 15px;
background: var(--mc); padding: 5px 13px;}
.section .description p {font-family: 'Noto Sans KR', sans-serif; font-size: 17px; font-weight: 300; margin-bottom: 50px;}

.section .description dl {display: inline-flex; line-height: 2;}
.section .description dl dt {width: 140px;}
.section .description dl dt::before {content: "＊"; margin-right: 10px;}
.section .description dl:last-of-type {margin-bottom: 40px;}
.section .description dd span {display: inline-block; width: 19px; height: 19px; border-radius: 50%; vertical-align: middle}
.section .description dd strong {vertical-align: middle; margin-right: 20px;}

.section .description ul {display: flex; gap: 20px;}
.section .description ul a {display: block; font-family: 'Montserrat', sans-serif; color: var(--lc); line-height: 40px; font-size: 15px; font-weight: 400;
border: 1px solid rgba(255,255,255,0.5); padding: 0 10px; transition: 0.3s;}
.section .description ul a:hover {background: var(--mc);}



/* 홀수섹션 - 텍스트 */
.section .odd {margin-left: 120px;}



/* 반응형 전체섹션 */
@media (max-width:768px) {

    /* 전체섹션 & 목업(이미지) */
    .section {background: url(../img/bg0.jpg) no-repeat; background-attachment: fixed;}
    .section img {width: 100%;}
    .section .mockup {order: -1; flex: 1; background: url(../img/pc.png) no-repeat center center/85%; padding: 7% 15% 7% 14%;
    margin: 10px 0 0 0;}
    .section .mockup figure {position: relative; padding-bottom: 64%; overflow: hidden; width: 100%;}
    .section .mockup figure img {position: absolute; top: 0; left: 0; width: 100%; transition: 6s linear;}
    .section .mockup figure:hover img {transform: translateY(-100%); top: 100%; cursor: pointer;}


    /* 전체섹션 - 텍스트 */
    .section .description {flex: 1; color: var(--lc); margin: 50px 0 0 0; position: relative; top: 0; left: 12%; transform: translateX(-50%);}
    .section .description h3 {font-family: 'Rufina', serif; font-size: 5.7vw; font-weight: 300; margin-bottom: 10px;}
    /* .section .description .txt {display: flex;} */
    .section .description h4 {display: inline-block; font-family: 'Montserrat', sans-serif; font-size: 3vw; font-weight: 400; margin-bottom: 15px;
    background: var(--mc); padding: 5px 10px; text-align: left;}
    .section .description p {font-family: 'Noto Sans KR', sans-serif; font-size: 3.2vw; font-weight: 300; margin-bottom: 25px;}

    .section .description dl {display: inline-flex; line-height: 2;}
    .section .description dl dt {width: 95px; font-size: 3.3vw;}
    .section .description dl dt::before {content: "＊"; margin-right: 5px;}
    .section .description dl:last-of-type {margin-bottom: 20px;}
    .section .description dd {font-size: 3vw; font-weight: 300;}
    .section .description dd span {display: inline-block; width: 16px; height: 16px; border-radius: 50%; vertical-align: middle;}
    .section .description dd strong {vertical-align: top; margin-right: 10px;}

    .section .description ul {display: flex; gap: 10px;}
    .section .description ul a {display: block; font-family: 'Montserrat', sans-serif; color: var(--lc); line-height: 40px; font-size: 2.5vw; font-weight: 400;
    border: 1px solid rgba(255,255,255,0.5); padding: 0 5px; transition: 0.3s;}
    .section .description ul a:hover {background: var(--mc);}



    /* 홀수섹션 - 텍스트 */
    .section .odd {margin-left: 0; position: relative; top: 0; left: 12%; transform: translateX(-50%);}

    
}





/* 휠 마우스 */
.intro .wheel {position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%); width: 30px;
height: 50px; border: 2px solid var(--lc); font-size: 0; border-radius: 14px; opacity: 0.5; z-index: 888;}
.intro .wheel span {position: absolute; top: 6px; left: 50%; transform: translateX(-50%); width: 4px;
height: 10px; background: var(--lc); border-radius: 2px; animation: wheel 0.7s infinite;}

@keyframes wheel {
    to {top:0.6rem}
}


/* 인트로 배경(별) */
.bg_star {position: absolute; top: 0; left: 50%; transform: translateX(-50%); overflow: hidden; width: 100%; min-width: 1200px}
.bg_star .inner {position: relative; width: 1200px; margin: 0 auto;}
.bg_star .top {position: relative; width: 100%;}
.bg_star .top .inner {height: 962px;}
  
  
.bg_star .top .c1_s img {position: absolute; animation: star 20s linear infinite; margin-left: 0; margin-top: 0; opacity: 0; }
.bg_star .top .c1_s img:nth-child(1) {animation-delay: 0; animation-duration: 1.6s; top: 142px; left: 0;}
.bg_star .top .c1_s img:nth-child(2) {animation-delay: -1.5s; animation-duration: 1.4s; top:252px; left:157px;}
.bg_star .top .c1_s img:nth-child(3) {animation-delay: -0.7s; animation-duration: 1.2s; top:218px; left:320px;}
.bg_star .top .c1_s img:nth-child(4) {animation-delay: -1s; animation-duration: 1s; top:0; left:397px;}
.bg_star .top .c1_s img:nth-child(5) {animation-delay: 0.2s; animation-duration: 2s; top:110px; left:598px;}
.bg_star .top .c1_s img:nth-child(6) {animation-delay: -2s; animation-duration: 1.8s; top:292px; left:713px;} 
.bg_star .top .c1_s img:nth-child(7) {animation-delay: -0.5s; animation-duration: 1.2s; top:143px; left:805px;}
.bg_star .top .c1_s img:nth-child(8) {animation-delay: -1.2s; animation-duration: 2s; top:136px; left:900px;}



  @keyframes star {
    from {opacity: 0; margin-left: 0; margin-top: 0;}
    35% {opacity: 1; margin-left: -5%; margin-top: 5%}
    70% {opacity: 0; margin-left: -10%; margin-top: 10%}
    to {opacity: 0; margin-left: -10%; margin-top: 10%}
  }
  


/* 인트로 - 원 */
.intro .circle_wrap {flex: 1; width: 500px; height: 500px; display: flex; justify-content: center; padding: 10px 0 0 170px; z-index: 1;}
.intro .circle {position: relative; width: 400px; height: 400px; overflow: hidden;
border-radius: 100%; background: linear-gradient(#3c5aff, #75d8df); box-shadow: 0px 16px 14px -3px rgba(0,0,0,0.3); transform: translate3d(0, 0, 0);}
.intro .wave01 {position: absolute; top: -65%; left: -30%; border-radius: 45%; width: 600px; height: 600px;
background: rgba(7, 131, 189, 0.8); animation: move 3s infinite linear;}
.intro .wave02 {position: absolute; top: -90%; left: -30%; border-radius: 45%; width: 650px; height: 650px;
background: rgba(9, 33, 119, 0.8); animation: move 5s infinite linear;}
.intro .wave03 {position: absolute; top: -100%; left: -30%; border-radius: 45%; border: 6px solid rgba(131,119,152,0.7); width: 650px; height: 650px;
background: #1d074b; animation: move 7s infinite linear;}
.intro .wave04 {position: absolute; top: -100%; left: -30%; border-radius: 46%; border: 1px solid rgba(131,119,152,0.7); width: 650px; height: 650px;
background: linear-gradient(rgba(252,251,232,0.1) 10%,transparent); animation: move 7s infinite linear;}

@keyframes move {
    100% {transform: rotate(360deg);}
}

/* 인트로 - 달 */
.intro .fa-moon {position: absolute; top: 19%; left: 33%; font-size: 130px; color: rgba(255,255,255,0.8);
animation: moon-rotation 4s infinite linear;}

.intro .blur {filter: blur(10px); -webkit-filter: blur(10px);}


@keyframes moon-rotation {
    0%, 100% {transform: rotate(0deg);}
    50% {transform: rotate(-20deg);}
}

/* 인트로 - 별 */
.fa-asterisk {position: absolute; font-size: 13px; color: rgba(255,255,255,0.5);}
.star01 {top: 70px; left: 90px; animation: star01 1.2s infinite;}
.star02 {top: 50px; left: 45px; animation: star01 1.7s infinite;}
.star03 {top: 180px; left: 45px; animation: star01 1.5s infinite;}
.star04 {top: 120px; left: 40px; font-size: 5px; animation: star01 1.9s infinite;}
.star05 {top: 200px; left: 90px; font-size: 5px; animation: star01 2s infinite;}

.star06 {top: 150px; right: 45px; animation: star01 1.7s infinite;}
.star07 {top: 45px; right: 120px; animation: star01 1.5s infinite;}
.star08 {top: 50px; right: 850px; font-size: 5px; animation: star01 1.9s infinite;}
.star09 {top: 130px; right: 70px; font-size: 5px; animation: star01 2s infinite;}
.star10 {top: 200px; right: 90px; font-size: 5px; animation: star01 1.3s infinite;}

@keyframes star01 {
    0%, 100% {transform: scale(0); opacity: 0;} 
    50% {transform: scale(1); opacity: 1;}
}

/* 인트로 슬로건 */
.intro .slogan {flex: 1; padding: 35px 30px 0 35px;}
.intro .slogan h2 {font-family: 'Noto Sans KR', sans-serif; font-size: 23px; font-weight: 300; letter-spacing: -0.025em; margin-bottom: 20px;}
.intro .slogan h3 {font-family: 'Rufina', serif; font-size: 70px; font-weight: 700; margin-bottom: 10px;}
.intro .slogan h4 {font-family: 'Rufina', serif; font-size: 70px; font-weight: 700; margin-bottom: 10px;}
.intro .slogan h4::after {content: ""; display: inline-block; width: 165px; height: 1px; background: rgba(255,255,255,0.8);
vertical-align: middle; margin-left: 20px;}
.intro .slogan h5 {font-family: 'Rufina', serif; font-size: 70px; font-weight: 700; margin-bottom: 40px;}
.intro .slogan strong {font-family: 'Average Sans', sans-serif; display: block; font-size: 35px;  letter-spacing: 0.1em;}




/* 반응형 휠마우스 & 인트로 */
@media (max-width:768px) {
    .intro {position: relative;}
    /* 휠 마우스 */
    .intro .wheel {display: none; position: absolute; bottom: 35%; left: 50%; transform: translateX(-50%); width: 25px;
    height: 40px; border: 2px solid var(--lc); font-size: 0; border-radius: 14px; opacity: 0.5; z-index: 888;}
    .intro .wheel span {position: absolute; top: 6px; left: 50%; transform: translateX(-50%); width: 4px;
    height: 8px; background: var(--lc); border-radius: 2px; animation: wheel 0.7s infinite;}
    
    @keyframes wheel {
        to {top:12px}
    }
    
    
    /* 인트로 배경 */
    .bg_star {position: absolute; top: 0; left: 50%; transform: translateX(-50%); overflow: hidden; width: 100%; min-width: 100%;}
    .bg_star .inner {position: relative; width: 100%; margin: 0 auto;}
    .bg_star .top {position: relative; width: 100%;}
    .bg_star .top .inner {height: 100vh;}
    
    
    .bg_star .top .c1_s img {position: absolute; width: 50%; animation: star 20s linear infinite; margin-left: 0; margin-top: 0; opacity: 0;}
    .bg_star .top .c1_s img:nth-child(1) {animation-delay: 0; animation-duration: 1.6s; top: 142px; left: 0;}
    .bg_star .top .c1_s img:nth-child(2) {animation-delay: -1.5s; animation-duration: 1.4s; top:252px; left:157px;}
    .bg_star .top .c1_s img:nth-child(3) {animation-delay: -0.7s; animation-duration: 1.2s; top:218px; left:320px;}
    .bg_star .top .c1_s img:nth-child(4) {animation-delay: -1s; animation-duration: 1s; top:0; left:207px;}
    .bg_star .top .c1_s img:nth-child(5) {animation-delay: 0.2s; animation-duration: 2s; top:110px; left:598px;}
    .bg_star .top .c1_s img:nth-child(6) {animation-delay: -2s; animation-duration: 1.8s; top:292px; left:713px;} 
    .bg_star .top .c1_s img:nth-child(7) {animation-delay: -0.5s; animation-duration: 1.2s; top:143px; left:805px;}
    .bg_star .top .c1_s img:nth-child(8) {animation-delay: -1.2s; animation-duration: 2s; top:136px; left:900px;}
    
    
    
    @keyframes star {
        from {opacity: 0; margin-left: 0; margin-top: 0;}
        35% {opacity: 1; margin-left: -5%; margin-top: 5%}
        70% {opacity: 0; margin-left: -10%; margin-top: 10%}
        to {opacity: 0; margin-left: -10%; margin-top: 10%}
    }
    
    
    
    /* 인트로 - 원 */
    .intro .circle_wrap {flex: 1; width: 300px; height: 300px; display: flex; justify-content: center; padding: 0 0 0 0; margin: 0 auto; z-index: 1;}
    .intro .circle {position: relative; width: 200px; height: 200px; overflow: hidden;
    border-radius: 100%; background: linear-gradient(#3c5aff, #75d8df); box-shadow: 0px 16px 14px -3px rgba(0,0,0,0.3); transform: translate3d(0, 0, 0);}
    .intro .wave01 {position: absolute; top: -110%; left: -65%; border-radius: 45%; width: 400px; height: 400px;
    background: rgba(7, 131, 189, 0.8); animation: move 3s infinite linear;}
    .intro .wave02 {position: absolute; top: -130%; left: -65%; border-radius: 45%; width: 450px; height: 450px;
    background: rgba(9, 33, 119, 0.8); animation: move 5s infinite linear;}
    .intro .wave03 {position: absolute; top: -145%; left: -65%; border-radius: 45%; border: 6px solid rgba(131,119,152,0.7); width: 450px; height: 450px;
    background: #1d074b; animation: move 7s infinite linear;}
    .intro .wave04 {position: absolute; top: -125%; left: -65%; border-radius: 46%; border: 1px solid rgba(131,119,152,0.7); width: 450px; height: 450px;
    background: linear-gradient(rgba(252,251,232,0.1) 10%,transparent); animation: move 7s infinite linear;}
    
    @keyframes move {
        100% {transform: rotate(360deg);}
    }
    
    /* 인트로 - 달 */
    .intro .fa-moon {position: absolute; top: 19%; left: 33%; font-size: 70px; color: rgba(255,255,255,0.8);
    animation: moon-rotation 4s infinite linear;}
    
    .intro .blur {filter: blur(10px); -webkit-filter: blur(10px);}
    
    
    @keyframes moon-rotation {
        0%, 100% {transform: rotate(0deg);}
        50% {transform: rotate(-20deg);}
    }
    
    /* 인트로 - 별 */
    .fa-asterisk {position: absolute; font-size: 3px; color: rgba(255,255,255,0.5);}
    .star01 {top: 65px; left: 25px; animation: star01 1.2s infinite;}
    .star02 {top: 50px; left: 45px; animation: star01 1.7s infinite;}
    .star03 {display: none; top: 15px; left: 35px; animation: star01 1.5s infinite;}
    .star04 {top: 120px; left: 40px; font-size: 5px; animation: star01 1.9s infinite;}
    .star05 {display: none; top: 200px; left: 90px; font-size: 5px; animation: star01 2s infinite;}
    
    .star06 {top: 100px; right: 20px; animation: star01 1.7s infinite;}
    .star07 {top: 45px; right: 45px; animation: star01 1.5s infinite;}
    .star08 {top: 50px; right: 850px; font-size: 5px; animation: star01 1.9s infinite;}
    .star09 {top: 130px; right: 70px; font-size: 5px; animation: star01 2s infinite;}
    .star10 {top: 200px; right: 90px; font-size: 5px; animation: star01 1.3s infinite;}
    
    @keyframes star01 {
        0%, 100% {transform: scale(0); opacity: 0;} 
        50% {transform: scale(1); opacity: 1;}
    }
    
    /* 인트로 슬로건 */
    .intro .slogan {flex: 1; padding: 0 0 0 0; margin: 35px auto 0 auto;}
    .intro .slogan h2 {font-family: 'Noto Sans KR', sans-serif; font-size: 15px; font-weight: 300; letter-spacing: -0.025em; margin-bottom: 10px;}
    .intro .slogan h3 {font-family: 'Rufina', serif; font-size: 34px; font-weight: 700; margin-bottom: 10px;}
    .intro .slogan h4 {font-family: 'Rufina', serif; font-size: 34px; font-weight: 700; margin-bottom: 10px;}
    .intro .slogan h4::after {content: ""; display: inline-block; width: 70px; height: 1px; background: rgba(255,255,255,0.8);
    vertical-align: middle; margin-left: 7px;}
    .intro .slogan h5 {font-family: 'Rufina', serif; font-size: 34px; font-weight: 700; margin-bottom: 20px;}
    .intro .slogan strong {font-family: 'Average Sans', sans-serif; display: block; font-size: 15px;  letter-spacing: 0.1em;}


     /* 높이 */
     .fp-tableCell {height: auto !important;}
    
}





/* pf01 1번 */
.portfolio_01 {}
.portfolio_01 .itm {transform: translate(0,-150px); transition: 0.5s; opacity: 0; z-index: 99;}
.portfolio_01.on .itm {transform: translate(0,0); opacity: 1;}

.portfolio_01 .description {transform: translate(-150px,0); transition: 0.6s; opacity: 0; position: relative; z-index: 99;}
.portfolio_01.on .description {transform: translate(0,0); opacity: 1;}
.portfolio_01 .description dd span:nth-of-type(1) {background: #760023;}
.portfolio_01 .description dd span:nth-of-type(2) {background: #f7f7f7 ; border: 1px solid #bbb;}
.portfolio_01 .description dd span:nth-of-type(3) {background: #b58d74;}

/* .portfolio_01 - gooey */
.portfolio_01 .gooey {position: absolute; top: 10%; left: 0; width: 100%; height: 100vh; font-size: 0; overflow: visible;}
.portfolio_01 .gooey::before {content: ""; display: block; position: absolute; top: 15%; right: -20%; width: 800px; height: 800px; background: rgba(168,125,240,0.27); border-radius: 50%;}
.portfolio_01 .gooey::after {content: ""; display: block; position: absolute; top: 0; right: 20%; width: 200px; height: 200px; background: rgba(168,125,240,0.27);
border-radius: 50%; animation: circle_move02 3.5s infinite;}


@keyframes circle_move02 {
    0% {top: 50%; right: 25%; opacity: 1;}
    100% {top: 0; right: 70%; opacity: 0;}
}




/* 반응형 pf01 1번 */
@media (max-width:768px) {
   /* pf01 1번 */
    .portfolio_01 {}
    .portfolio_01 .itm {transform: translate(0,-100px); transition: 0.5s; opacity: 0; z-index: 99;}
    .portfolio_01.on .itm {transform: translate(0,0); opacity: 1;}

    .portfolio_01 .description {transform: translate(-200px,0); transition: 0.6s; opacity: 0; position: relative; z-index: 99;}
    .portfolio_01.on .description {transform: translate(0,0); opacity: 1;}
    .portfolio_01 .description dd span:nth-of-type(1) {background: #760023;}
    .portfolio_01 .description dd span:nth-of-type(2) {background: #f7f7f7 ; border: 1px solid #bbb;}
    .portfolio_01 .description dd span:nth-of-type(3) {background: #b58d74;}

    /* .portfolio_01 - gooey */
    .portfolio_01 .gooey {position: absolute; top: 10%; left: 0; width: 100%; height: 100vh; font-size: 0; overflow: visible;}
    .portfolio_01 .gooey::before {content: ""; display: block; position: absolute; top: 15%; right: -20%; width: 800px; height: 800px; background: rgba(168,125,240,0.27); border-radius: 50%;}
    .portfolio_01 .gooey::after {content: ""; display: block; position: absolute; top: 0; right: 20%; width: 200px; height: 200px; background: rgba(168,125,240,0.27);
    border-radius: 50%; animation: circle_move02 3.5s infinite;}


    @keyframes circle_move02 {
        0% {top: 50%; right: 25%; opacity: 1;}
        100% {top: 0; right: 70%; opacity: 0;}
    }
}


/* pf02 2번*/
.portfolio_02 {}
.portfolio_02 .itm {transform: translate(150px,0); transition: 0.5s; opacity: 0;}
.portfolio_02.on .itm {transform: translate(0,0); opacity: 1;}

.portfolio_02 .description {transform: translate(-150px,0); transition: 0.6s; opacity: 0;}
.portfolio_02.on .description {transform: translate(0,0); opacity: 1;}
.portfolio_02 .description dd span:nth-of-type(1) {background: #101B41; border: 1px solid rgba(255,255,255,0.3);}
.portfolio_02 .description dd span:nth-of-type(2) {background: #253981; border: 1px solid rgba(255,255,255,0.3);}

/* 반응형 pf02 2번 */
@media (max-width:768px) {
   /* pf02 2번*/
    .portfolio_02 {}
    .portfolio_02 .itm {transform: translate(200px,0); transition: 0.5s; opacity: 0;}
    .portfolio_02.on .itm {transform: translate(0,0); opacity: 1;}

    .portfolio_02 .description {transform: translate(-200px,0); transition: 0.6s; opacity: 0;}
    .portfolio_02.on .description {transform: translate(0,0); opacity: 1;}
    .portfolio_02 .description dd span:nth-of-type(1) {background: #101B41; border: 1px solid rgba(255,255,255,0.3);}
    .portfolio_02 .description dd span:nth-of-type(2) {background: #253981; border: 1px solid rgba(255,255,255,0.3);}
 }


/* pf03 3번*/
.portfolio_03 {position: relative;}
.portfolio_03 .itm {transform: translate(0,-150px); transition: 0.4s; opacity: 0;}
.portfolio_03.on .itm {transform: translate(0,0); opacity: 1;}

.portfolio_03 .description {transform: translate(-150px,0); transition: 0.5s; opacity: 0;}
.portfolio_03.on .description {transform: translate(0,0); opacity: 1;}
.portfolio_03 .description dd span:nth-of-type(1) {background: #333333;}
.portfolio_03 .description dd span:nth-of-type(2) {background: #F7F7F7; border: 1px solid #bbb;}

.portfolio_03 .inner {position: absolute; top: -15%; left: -10%; width: 500px; height: 500px; border: 1px solid rgba(255,255,255,0.5); padding: 20px;
border-radius: 50%;}
.portfolio_03 .inner strong {display: block; width: 460px; height: 460px; border-radius: 50%; overflow: hidden;}
.portfolio_03 .inner span {position: absolute; top: 0; left: calc(50% - 10px); width: 20px; height: 250px; font-size: 0;
animation: circle_photo 6s infinite linear; transform-origin: bottom;}
.portfolio_03 .inner span::after {content: ""; display: block; width: 20px; height: 20px; background: var(--sc); border-radius: 50%;
margin-top: -10px;}


/* 반응형 pf03 3번 */
@media (max-width:768px) {
    /* pf03 3번*/
    .portfolio_03 {position: relative;}
    .portfolio_03 .itm {transform: translate(0,-100px); transition: 0.5s; opacity: 0;}
    .portfolio_03.on .itm {transform: translate(0,0); opacity: 1;}

    .portfolio_03 .description {transform: translate(-200px,0); transition: 0.6s; opacity: 0;}
    .portfolio_03.on .description {transform: translate(0,0); opacity: 1;}
    .portfolio_03 .description dd span:nth-of-type(1) {background: #333333;}
    .portfolio_03 .description dd span:nth-of-type(2) {background: #F7F7F7; border: 1px solid #bbb;}

    .portfolio_03 .inner {position: absolute; top: -7%; left: -10%; width: 300px; height: 300px; border: 1px solid rgba(255,255,255,0.5); padding: 20px;
    border-radius: 50%;}
    .portfolio_03 .inner strong {display: block; width: 260px; height: 260px; border-radius: 50%; overflow: hidden;}
    .portfolio_03 .inner span {position: absolute; top: 0; left: calc(50% - 10px); width: 20px; height: 150px; font-size: 0;
    animation: circle_photo 6s infinite linear; transform-origin: bottom;}
    .portfolio_03 .inner span::after {content: ""; display: block; width: 20px; height: 20px; background: var(--sc); border-radius: 50%;
    margin-top: -10px;}
  }
 

/* pf04 4번*/
.portfolio_04 {}
.portfolio_04 .itm {transform: translate(0,-150px); transition: 0.4s; opacity: 0; position: relative; z-index: 1;}
.portfolio_04.on .itm {transform: translate(0,0); opacity: 1;}

.portfolio_04 .description {transform: translate(-150px,0); transition: 0.5s; opacity: 0; z-index: 2;}
.portfolio_04.on .description {transform: translate(0,0); opacity: 1;}
.portfolio_04 .description dd span:nth-of-type(1) {background: #25561f;}
.portfolio_04 .description dd span:nth-of-type(2) {background: #f7f7f7; border: 1px solid #bbb;}
.portfolio_04 .description dd span:nth-of-type(3) {background: #44b635;}


/* pf04 - gooey */
.portfolio_04 .gooey {position: absolute; top: 10%; left: 0; width: 100%; height: 100vh; font-size: 0; overflow: visible;}
.portfolio_04 .gooey::before {content: ""; display: block; position: absolute; top: 23%; left: -23%; width: 800px; height: 800px; background: rgba(168,125,240,0.27); border-radius: 50%;}
.portfolio_04 .gooey::after {content: ""; display: block; position: absolute; top: 55%; left: 20%; width: 200px; height: 200px; background: rgba(168,125,240,0.27);
border-radius: 50%; animation: circle_move 3.5s infinite;}


@keyframes circle_move {
    0% {top: 50%; left: 25%; opacity: 1;}
    100% {top: 0; left: 70%; opacity: 0;}
}


/* 반응형 pf04 4번 */
@media (max-width:768px) {
    /* pf04 4번*/
    .portfolio_04 {}
    .portfolio_04 .itm {transform: translate(100px,0); transition: 0.5s; opacity: 0; position: relative; z-index: 1;}
    .portfolio_04.on .itm {transform: translate(0,0); opacity: 1;}

    .portfolio_04 .description {transform: translate(-200px,0); transition: 0.6s; opacity: 0; z-index: 2;}
    .portfolio_04.on .description {transform: translate(0,0); opacity: 1;}
    .portfolio_04 .description dd span:nth-of-type(1) {background: #25561f;}
    .portfolio_04 .description dd span:nth-of-type(2) {background: #f7f7f7; border: 1px solid #bbb;}
    .portfolio_04 .description dd span:nth-of-type(3) {background: #44b635;}


    /* pf04 - gooey */
    .portfolio_04 .gooey {position: absolute; top: 10%; left: 0; width: 100%; height: 100vh; font-size: 0; overflow: visible;}
    .portfolio_04 .gooey::before {content: ""; display: block; position: absolute; top: 23%; left: -23%; width: 800px; height: 800px; background: rgba(168,125,240,0.27); border-radius: 50%;}
    .portfolio_04 .gooey::after {content: ""; display: block; position: absolute; top: 55%; left: 20%; width: 200px; height: 200px; background: rgba(168,125,240,0.27);
    border-radius: 50%; animation: circle_move 3.5s infinite;}


    @keyframes circle_move {
        0% {top: 50%; left: 25%; opacity: 1;}
        100% {top: 0; left: 70%; opacity: 0;}
    }
  }
 


/* pf05 5번*/
.portfolio_05 {}
.portfolio_05 .itm {transform: translate(150px,0); transition: 0.4s; opacity: 0;}
.portfolio_05.on .itm {transform: translate(0,0); opacity: 1;}

.portfolio_05 .description {transform: translate(-200px,0); transition: 0.5s; opacity: 0;}
.portfolio_05.on .description {transform: translate(0,0); opacity: 1;}
.portfolio_05 .description dd span:nth-of-type(1) {background: #00325d; border: 1px solid #bbb;}
.portfolio_05 .description dd span:nth-of-type(2) {background: #f4f4f4;}
.portfolio_05 .description dd span:nth-of-type(3) {background: #004B8D;}

/* pf05 돌아가는원 */
.portfolio_05 {position: relative;}
.portfolio_05 .inner {position: absolute; top: 35%; right: -12%; width: 500px; height: 500px; border: 1px solid rgba(255,255,255,0.5); padding: 20px;
border-radius: 50%;}
.portfolio_05 .inner strong {display: block; width: 460px; height: 460px; border-radius: 50%; overflow: hidden;}
.portfolio_05 .inner span {position: absolute; top: 0; left: calc(50% - 10px); width: 20px; height: 250px; font-size: 0;
animation: circle_photo 6s infinite linear; transform-origin: bottom;}
.portfolio_05 .inner span::after {content: ""; display: block; width: 20px; height: 20px; background: var(--sc); border-radius: 50%;
margin-top: -10px;}


/* 반응형 pf05 5번 */
@media (max-width:768px) {
   /* pf05 5번*/
    .portfolio_05 {}
    .portfolio_05 .itm {transform: translate(200px,0); transition: 0.5s; opacity: 0;}
    .portfolio_05.on .itm {transform: translate(0,0); opacity: 1;}

    .portfolio_05 .description {transform: translate(-200px,0); transition: 0.6s; opacity: 0;}
    .portfolio_05.on .description {transform: translate(0,0); opacity: 1;}
    .portfolio_05 .description dd span:nth-of-type(1) {background: #00325d; border: 1px solid #bbb;}
    .portfolio_05 .description dd span:nth-of-type(2) {background: #f4f4f4;}
    .portfolio_05 .description dd span:nth-of-type(3) {background: #004B8D;}

    /* pf05 돌아가는원 */
    .portfolio_05 {position: relative;}
    .portfolio_05 .inner {position: absolute; top: 15%; right: -10%; width: 300px; height: 300px; border: 1px solid rgba(255,255,255,0.5); padding: 20px;
    border-radius: 50%;}
    .portfolio_05 .inner strong {display: block; width: 260px; height: 260px; border-radius: 50%; overflow: hidden;}
    .portfolio_05 .inner span {position: absolute; top: 0; left: calc(50% - 10px); width: 20px; height: 150px; font-size: 0;
    animation: circle_photo 6s infinite linear; transform-origin: bottom;}
    .portfolio_05 .inner span::after {content: ""; display: block; width: 20px; height: 20px; background: var(--sc); border-radius: 50%;
    margin-top: -10px;}
  }



/* pf06 6번*/
.portfolio_06 {}
.portfolio_06 .itm {transform: translate(0,150px); transition: 0.4s; opacity: 0;}
.portfolio_06.on .itm {transform: translate(0,0); opacity: 1;}

.portfolio_06 .description {transform: translate(-200px,0); transition: 0.5s; opacity: 0;}
.portfolio_06.on .description {transform: translate(0,0); opacity: 1;}
.portfolio_06 .description dd span:nth-of-type(1) {background: #D71921;}
.portfolio_06 .description dd span:nth-of-type(2) {background: #f4f4f4;}



/* 반응형 pf06 6번 */
@media (max-width:768px) {
   /* pf05 6번*/
    .portfolio_06 {}
    .portfolio_06 .itm {transform: translate(-200px,0); transition: 0.5s; opacity: 0;}
    .portfolio_06.on .itm {transform: translate(0,0); opacity: 1;}

    .portfolio_06 .description {transform: translate(0,200px); transition: 0.6s; opacity: 0;}
    .portfolio_06.on .description {transform: translate(0,0); opacity: 1;}
    .portfolio_06 .description dd span:nth-of-type(1) {background: #D71921;}
    .portfolio_06 .description dd span:nth-of-type(2) {background: #f4f4f4;}
  }


/* ------------ 프로필 ------------ */

/* profile */
.profile {position: relative;}
.profile .con {width: 1200px; margin: 0 auto; z-index: 2;}
.profile img {width: 100%;}
/* .profile .about {background: #fff;} */


/* profile - gooey */
.profile .gooey {position: absolute; top: 10%; right: -15%; width: 100%; height: 100vh; font-size: 0; z-index: -11;}
.profile .gooey::before {content: ""; display: block; position: absolute; top: 25%; right: 0; width: 800px; height: 800px; background: rgba(168,125,240,0.27); border-radius: 50%;}
.profile .gooey::after {content: ""; display: block; position: absolute; top: 0; right: 0; width: 100px; height: 100px; background: rgba(168,125,240,0.27);
border-radius: 50%; animation: circle_move02 3.5s infinite;}


@keyframes circle_move02 {
    0% {top: 50%; right: 25%; opacity: 1;}
    100% {top: 0; right: 70%; opacity: 0;}
}



/* profile 돌아가는원 */
.profile figure {float: left; text-align: center; margin: 0 auto; z-index: 1;}
.profile .inner {position: relative; width: 400px; height: 400px; border: 1px solid rgba(255,255,255,0.5); padding: 20px;
border-radius: 50%;}
.profile .inner strong {display: block; width: 360px; height: 360px; border-radius: 50%; overflow: hidden;}
.profile .inner span {position: absolute; top: 0; left: calc(50% - 10px); width: 20px; height: 200px; font-size: 0;
animation: circle_photo 6s infinite linear; transform-origin: bottom;}
.profile .inner span::after {content: ""; display: block; width: 20px; height: 20px; background: var(--sc); border-radius: 50%;
margin-top: -10px;}


@keyframes circle_photo {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}


/* 사진 아래 텍스트 */
.profile .txt {position: relative; display: inline-block; margin: 25px 0 0 0; text-align: left; z-index: 1;}
.profile .txt p::before {content: "＊"; display: inline-block;}
.profile .txt p {font-family: 'Rufina', serif; color: var(--sc); font-size: 23px; margin-bottom: 25px; letter-spacing: 0.25em; font-style: italic;
border-bottom: 1px solid rgba(255,255,255,0.5); padding: 0 0 10px 0; text-align: center;}
.profile .txt dl {line-height: 1.9;}
.profile .txt dl dd {font-weight: 100; font-size: 18px;}
.profile .txt i {font-size: 22px; margin-right: 10px;}





/* 프로필 내용 */
.profile .contents {position: relative; transform: translate(15%,5%);  margin: auto 0;}
.profile .contents h2::before {content: "＊"; display: inline-block;}
.profile .contents h2 {font-family: 'Rufina', serif; color: var(--sc); font-size: 23px; margin-bottom: 25px; letter-spacing: 0.25em; font-style: italic;}
.profile .contents ul {}
.profile .contents ul li {line-height: 1.9; font-size: 17px; font-weight: 300; letter-spacing: -0.025em;}
.profile .contents ul li::before {content: "―"; display: inline-block; margin-right: 10px;}

.profile .certifiate {padding: 10px 0; margin-bottom: 65px;}

.profile .eudcation {padding: 10px 0; margin-bottom: 65px;}

.profile .skill {padding: 10px 0; margin-bottom: 65px;}
.profile .skill ul {display: flex;}
.profile .skill ul li {padding: 10px;}
.profile .skill ul li::before {display: none;}
.profile .skill i {font-size: 30px; background: var(--mc); padding: 5px; border-radius: 50%;}
.profile .skill .fa-figma {font-size: 30px; padding: 5px 10px; line-height: 1;}






/* 반응형 profile */
@media (max-width:768px) {
    /* profile */
    .profile {position: relative;}
    .profile .con {display: flex; width: auto; margin: 0 auto; padding: 0 20px; z-index: 2;}
    .profile img {width: 100%;}

    /* profile - gooey */
    .profile .gooey {position: absolute; top: 10%; right: -15%; width: 100%; height: 100vh; font-size: 0; z-index: -11;}
    .profile .gooey::before {content: ""; display: block; position: absolute; top: 25%; right: 0; width: 800px; height: 800px; background: rgba(168,125,240,0.27); border-radius: 50%;}
    .profile .gooey::after {content: ""; display: block; position: absolute; top: 0; right: 0; width: 100px; height: 100px; background: rgba(168,125,240,0.27);
    border-radius: 50%; animation: circle_move02 3.5s infinite;}


    @keyframes circle_move02 {
        0% {top: 50%; right: 25%; opacity: 1;}
        100% {top: 0; right: 70%; opacity: 0;}
    }



    /* profile 돌아가는원 */
    .profile figure {float: none; text-align: center; margin: 10% auto; z-index: 1;}
    .profile .inner {position: relative; width: 190px; height: 190px; margin: 0 auto; border: 1px solid rgba(255,255,255,0.5); padding: 20px;
    border-radius: 50%;}
    .profile .inner strong {display: block; width: 150px; height: 150px; border-radius: 50%; overflow: hidden;}
    .profile .inner span {position: absolute; top: 0; left: calc(50% - 10px); width: 20px; height: 95px; font-size: 0;
    animation: circle_photo 6s infinite linear; transform-origin: bottom;}
    .profile .inner span::after {content: ""; display: block; width: 10px; height: 10px; background: var(--sc); border-radius: 50%;
    margin-top: -5px;}


    @keyframes circle_photo {
        0% {transform: rotate(0);}
        100% {transform: rotate(1turn);}
    }


    /* 사진 아래 텍스트 */
    .profile .txt {position: relative; display: inline-block; margin: 30px 0 0 0; text-align: left; z-index: 1;}
    .profile .txt p::before {content: "＊"; display: inline-block;}
    .profile .txt p {font-family: 'Rufina', serif; color: var(--sc); font-size: 3.5vw; margin-bottom: 5px; letter-spacing: 0.25em; font-style: italic;
    border-bottom: none; padding: 0 0 5px 0; text-align: left;}
    .profile .txt dl {line-height: 1.7;}
    .profile .txt dl dd {font-weight: 100; font-size: 3.2vw;}
    .profile .txt i {font-size: 3.5vw; margin-right: 10px;}



    /* 프로필 내용 */
    .profile .contents {display: inline-block; transform: translate(0,0); margin: 70px 0 0 0;}
    .profile .contents h2::before {display: none; content: "＊";}
    .profile .contents h2 {font-family: 'Rufina', serif; color: var(--sc); font-size: 3.5vw; margin-bottom: 5px; letter-spacing: 0.25em; font-style: italic;}
    
    .profile .contents ul {margin: 0 auto; display: inline-block;}
    .profile .contents ul li {line-height: 1.7; font-size: 2.5vw; font-weight: 300; letter-spacing: -0.025em;}
    .profile .contents ul li::before {content: "·"; display: inline-block; margin-right: 5px;}

    .profile .certifiate {padding: 10px 0 10px 15px; margin-bottom: 10px;}

    .profile .eudcation {padding: 10px 0 10px 15px; margin-bottom: 15px;}

    .profile .skill {padding: 10px 0 10px 15px; margin-bottom: 15px;}
    .profile .skill ul {display: flex; flex-flow: row wrap;}
    .profile .skill ul li {padding: 3px;}
    .profile .skill ul li::before {display: none;}
    .profile .skill i {font-size: 15px; background: var(--mc); padding: 5px; border-radius: 50%;}
    .profile .skill .fa-figma {font-size: 15px; padding: 5px 7px; line-height: 1;}
   }


/* to top */
#footer .toTop {position: fixed; bottom: 60px; right: 60px; z-index: 999;}
#footer .toTop i {font-size: 32px; padding: 10px; color: var(--lc); background: var(--mc); border-radius: 50%;}

#footer address {position: fixed; top: 50%; left: -25px; transform: translateX(-50%); transform: rotate(-90deg); z-index: 999;}


/* 반응형 to top */
@media (max-width:768px) {
   /* to top */
    #footer .toTop {position: fixed; bottom: 20px; right: 20px; z-index: 998;}
    #footer .toTop i {font-size: 20px; padding: 10px; color: var(--lc); background: var(--mc); border-radius: 50%;}

    #footer address {display: none; position: fixed; top: 50%; left: -13%; transform: translateX(-50%); font-size: 10px; transform: rotate(-90deg); z-index: 999;}
}




/* cover - 클릭시 나오는 메뉴 */
#cover {display: none; position: fixed; top: 0; left: 0; background: url(../img/bg02.jpg) no-repeat center center/cover; width: 100%; height: 100vh;
z-index: 998;}
#cover ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: var(--dc);
font-size: 30px; line-height: 1.7; text-align: center; background: var(--lc); padding: 7% 10%; border-radius: 50%;}

#cover:nth-child(2) {display: none;}

#cover ul li:nth-child(1) {opacity: 0;}
#cover ul li:nth-child(2) {opacity: 0;}
#cover ul li:nth-child(3) {opacity: 0;}
#cover ul li:nth-child(4) {opacity: 0;}
#cover ul li:nth-child(5) {opacity: 0;}
#cover ul li:nth-child(6) {opacity: 0;}
#cover ul li:nth-child(7) {opacity: 0;}
#cover.on ul li {opacity: 1;}
#cover ul li a {font-family: 'Open Sans', sans-serif; -webkit-text-stroke: 1px #333; color: #fff; font-weight: 700; transition: 0.3s;}
#cover ul li a:hover {color: rgb(224, 197, 255);}



/* 반응형 #cover */
@media (max-width:768px) {
    #cover {display: none; position: fixed; top: 0; left: 0; background: url(../img/bg02.jpg) no-repeat center center/cover; width: 100%; height: 100vh;
    z-index: 998;}
    #cover ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: var(--dc);
    font-size: 5vw; line-height: 1.7; text-align: center; background: var(--lc); padding: 10% 15%;
    border-radius: 50%;}
    #cover ul li:nth-child(1) {opacity: 0;}
    #cover ul li:nth-child(2) {opacity: 0;}
    #cover ul li:nth-child(3) {opacity: 0;}
    #cover ul li:nth-child(4) {opacity: 0;}
    #cover ul li:nth-child(5) {opacity: 0;}
    #cover ul li:nth-child(6) {opacity: 0;}
    #cover ul li:nth-child(7) {opacity: 0;}
    #cover.on ul li {opacity: 1;}
    #cover ul li a {font-family: 'Open Sans', sans-serif; -webkit-text-stroke: 1px #333; color: #fff; font-weight: 700; transition: 0.3s;}
    #cover ul li a:hover {color: rgb(224, 197, 255);}

 }


/* 디자인가이드 */
.guide {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.7); z-index: 999;}
.guide.on {display: block;}
.guide i {position: absolute; top: 7%; right: 17.5%; transform: translateX(-50%); font-size: 30px; float: right; background: var(--mc);
 padding: 10px; border-radius: 50%;}
.guide figure {position: relative; top: 15%; width: 1200px; height: 700px; margin: 0 auto; overflow: scroll;}
.guide img {width: 100%; margin: 0 auto;}
.guide figure::-webkit-scrollbar {background: #eee;}
.guide figure::-webkit-scrollbar-thumb {background: #bbb;}



/* 반응형 디자인가이드 */
@media (max-width:768px) {
    .guide {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.7); z-index: 1000;}
    .guide.on {display: block;}
    .guide i {position: absolute; top: 6%; right: 0; transform: translateX(-50%); font-size: 15px; float: right; background: var(--mc);
     padding: 10px; border-radius: 50%; z-index: 1001;}
    .guide figure {position: relative; top: 5%; width: 100%; height: 100%; margin: 0 auto; overflow: scroll;}
    .guide img {width: 100%; margin: 0 auto;}
    .guide figure::-webkit-scrollbar {width: 5px; background: #eee;}
    .guide figure::-webkit-scrollbar-thumb {width: 5px; background: #bbb;}
        
 }

/* 
* {outline: 1px solid #369;} */