@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/fugaz-one');

* {margin:0;padding:0;font-size:inherit;font-weight:normal;line-height:1.2;box-sizing:border-box;outline:none;}
ul, li {list-style:none;}
a {text-decoration:none;color: inherit;}

body {font-family: 'Noto Sans KR', sans-serif;}

/*clearfix */
.cf:after, .clearfix:after, .row:after {content:"";display:block;clear:both;}