#header {position: fixed;top: 0;left: 0;height: 100vh; width: 350px; padding: 30px 15px 0 15px;z-index: 999;}
#header h1 {margin-bottom: 100px;}
#header h1 img {width: 250px;}
#header nav {}
#header nav>ul>li {position: relative; border-bottom: 1px solid #ddd;}
#header nav>ul>li a {display: block; line-height: 40px;}
#header nav>ul>li .submenu {display: none; position: absolute;top: 0;left: 300px;width: 100%; background: #333; color: #fff; }
#header nav>ul>li .submenu li~li {border-top: 1px solid #ddd;}
#header nav>ul>li .submenu a {padding-left: 20px;}
#header nav>ul>li:hover .submenu {display: block;}

#visual {margin: 0 350px; height: 100vh;}
.main_visual figure{position: relative; height: 100vh;}
.main_visual .itm01{background: url(../lib/base/main_v1.jpg)no-repeat center center/cover;}
.main_visual .itm02{background: url(../lib/base/main_v2.jpg)no-repeat center center/cover;}
.main_visual .itm03{background: url(../lib/base/main_v3.jpg)no-repeat center center/cover;}


.main_visual .container {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); width: 1200px; text-align: center;}
.main_visual figure .container h3 {opacity: 0; transform: translateY(100px); font-size: 40px; font-weight: 700; margin-bottom: 20px;}
.main_visual figure .container p {opacity: 0; transform: translateY(100px); font-size: 15px;font-weight: 300; line-height: 20px;}
.main_visual figure.on .container h3 {opacity: 1;transform: translateY(0); transition: 0.5s ease-in-out;}
.main_visual figure.on .container p {opacity: 1; transform:translateY(0); transition: 0.5s 0.5s ease-in-out;}

.main_visual .slick-dots {position: absolute; bottom: 100px; left: 0; width: 100%; text-align: center;}
.main_visual .slick-dots li {display: inline-block; font-size: 30px;
  color: #fff; border-radius: 50%; margin: 0 4px;} 
.main_visual .slick-dots li::after {content: '\e9e3'; font-family: xeicon!important;}

.main_visual .slick-dots li.slick-active {color: #f00;}
.main_visual .slick-dots li.slick-active::after {content: '\e9e0';}
.main_visual .slick-dots button {display: none;}

.main_visual .slick-arrow {position: absolute; top: 46%; color: #fff; z-index: 900;}
.main_visual .slick-arrow.prev {left: 30px;}
.main_visual .slick-arrow.next {right: 30px;}

.main_visual .slick-arrow i {font-size: 40px; padding: 10px; background: rgba(0, 0, 0, 0.4); border-radius: 10px;}

#footer{background-color: #369; position: fixed;top: 0;right: 0;height: 100vh; width: 350px;}
.mopen {display: none;}

@media screen and (max-width:768px) {
  #header {position: fixed;top: 0;left: -100%;height: 100vh; width: calc(100% - 110px); background: #fff; padding: 30px 15px 0 15px;transition: 0.3s ease-in-out; z-index: 999;}
  #header.on {left: 0;}
  #header h1 {margin-bottom: 100px;}
  #header h1 img {width: 100%;}
  #header nav {}
  #header nav>ul>li {position: relative; border-bottom: 1px solid #ddd;}
  #header nav>ul>li a {display: block; line-height: 40px;}
  #header nav>ul>li .submenu {display: none; position: static;top: 0;left: 300px;width: 100%; background: #ddd; color: #fff; }
  #header nav>ul>li .submenu li~li {border-top: 1px solid #ddd;}
  #header nav>ul>li .submenu a {padding-left: 20px;}
  #header nav>ul>li:hover .submenu {display: none;} 

  #visual {margin: 0; height: 100vh;}

  .main_visual figure{position: relative; height: 100vh;}
  .main_visual .itm01{background: url(../lib/base/main_v1.jpg)no-repeat left center/cover;}
  .main_visual .itm02{background: url(../lib/base/main_v2.jpg)no-repeat right center/cover;}
  .main_visual .itm03{background: url(../lib/base/main_v3.jpg)no-repeat center center/cover;}


  .main_visual .container {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); width: 100%; text-align: center; padding: 0 30px;}
  .main_visual figure .container h3 {opacity: 0; transform: translateY(100px); font-size: 40px; font-weight: 700; margin-bottom: 20px;}
  .main_visual figure .container p {opacity: 0; transform: translateY(100px); font-size: 15px;font-weight: 300; line-height: 20px;}
  .main_visual figure.on .container h3 {opacity: 1;transform: translateY(0); transition: 0.5s ease-in-out;}
  .main_visual figure.on .container p {opacity: 1; transform:translateY(0); transition: 0.5s 0.5s ease-in-out;}

  .main_visual .slick-dots {position: absolute; bottom: 100px; left: 0; width: 100%; text-align: center;}
  .main_visual .slick-dots li {display: inline-block; font-size: 30px;
    color: #fff; border-radius: 50%; margin: 0 4px;} 
  .main_visual .slick-dots li::after {content: '\e9e3'; font-family: xeicon!important;}

  .main_visual .slick-dots li.slick-active {color: #f00;}
  .main_visual .slick-dots li.slick-active::after {content: '\e9e0';}
  .main_visual .slick-dots button {display: none;}

  .main_visual .slick-arrow {position: absolute; top: 46%; color: #fff; z-index: 900;}
  .main_visual .slick-arrow.prev {left: 30px;}
  .main_visual .slick-arrow.next {right: 30px;}

  .main_visual .slick-arrow i {font-size: 40px; padding: 10px; background: rgba(0, 0, 0, 0.4); border-radius: 10px;}

  #footer{position: static;top: 0;right: 0;height: auto; width: auto;}
  .mopen{display: block; position: fixed;top: 30px;right: 30px; font-size: 30px; padding: 10px;background: rgba(0, 0, 0, 0.3); color: #fff;}
}