/* reset */
* {margin:0;padding:0;box-sizing:border-box;font-weight:400;font-size:inherit;color:#333333;}
ul,ol {list-style:none;}
a {text-decoration:none;color:inherit;}
input:focus, textarea:focus, select:focus, option:focus {outline:none!important;}

/* font,clearfix */
body {font-family: 'NanumSquare', sans-serif;}
.cf:after {content:"";display:block;clear:both}

@charset "UTF-8";