body {background: #ddd;font-weight: 300;text-align:center;}

#bal {margin:200px 0;padding:100px 0;position:relative;}
#bal h2 {margin-bottom:10px;font-size: 24px;font-weight: 500;letter-spacing: 0.5em;}
#bal p {margin-bottom:100px;font-size: 14px;}

#bal .container {width:1200px;width:800px;height:345px;margin:0 auto;overflow:hidden;position:relative;}
#bal .case {position:absolute;top:0;left:0;}

#bal .btn {display:flex;justify-content: center;}
#bal .btn li {width:15px;height:15px;background: #292929;color:#fff;border-radius: 50%;margin:50px 5px;cursor: pointer;text-indent:-9999px;}
/*text-indent 수치를 -로 줘서 텍스트가 아래로 내려가도록*/

.sun {position:absolute;top:100px;left:100px;animation:sunmove 2s infinite linear;}
.butter {position:absolute;bottom:250px;left:100px; animation:butter 15s linear both;} /*both:처음위치로 돌아오지않도록, 맨뒤에 적어주기*/
.butter figure {animation:btsw 1s infinite;}

@keyframes sunmove {
    to {transform:rotate(360deg)}
}

@keyframes btsw { /*나비날개접히도록*/
    0% {transform:scaleX(0)} 
    50% {transform:scaleX(1)} 
    100% {transform:scaleX(0)}
}

@keyframes butter { /*나비위치가변하도록*/
    0% {transform:translate(0,0) rotate(45deg)}
    10% {transform:translate(100px,50px) rotate(45deg)}
    20% {transform:translate(200px,70px) rotate(45deg)}
    30% {transform:translate(350px,50px) rotate(30deg)}
    40% {transform:translate(450px,0) rotate(10deg)}
    50% {transform:translate(500px,-100px) rotate(30deg)}
    60% {transform:translate(650px,-150px) rotate(10deg)}
    70% {transform:translate(750px,-100px) rotate(30deg)}
    80% {transform:translate(900px,-200px) rotate(-10deg)}
    90% {transform:translate(1000px,-300px) rotate(-45deg)}
    100% {transform:translate(1200px,-350px) rotate(-45deg)}
}