#wrap {min-width:1200px;}

.row:after {content:"";display:block;clear:both;}
.container {width:1200px;margin:0 auto;}
.container:after {content:"";display:block;clear:both;}

.header {background:#f2f2f2;line-height:100px;} /*clear:both안하면 높이가 없어져서 배경색이 안나옴*/
.header h1 {float:left;padding:0 15px;}
.header h1 img {width:200px;}
.header nav {float:right;}

.gnb>ul {float:left;}
.gnb>ul>li {position:relative;float:left;padding:0 30px;}
.gnb>ul>li>a {display:block;}
.gnb .submenu {position:absolute;top:100px;left:0;width:100%;text-align:center;line-height:40px;background:#fff;display:block;opacity:0;visibility:hidden;border:1px solid #ddd;z-index:999;}
.gnb>ul>li:hover .submenu {opacity:1;top:85px;visibility:visible;transition:0.5s;}
.gnb>ul>li .submenu:before {content:"";display:block;width:10px;height:10px;background:#fff;border:1px solid #ddd;position:absolute;top:-5px;left:30px;transform: rotate(45deg);}
.gnb>ul>li .submenu li {position:relative;background:#fff;}

.gnb .submenu li {position:relative;background:transparent;}
.gnb .submenu>li~li {border-top:1px solid #ddd;}

.gnb>ul>li:nth-child(2) .submenu {border-radius:20px;}
.gnb>ul>li:nth-child(2) .submenu:before {content:"";display:block;width:10px;height:10px;background:#fff;border:4px solid #f00;border-radius:50%;position:absolute;top:-5px;left:30px;transform: rotate(45deg);}
.gnb>ul>li:nth-child(2) .submenu>li {position:static;}
.gnb>ul>li:nth-child(2) .submenu>li:first-child {border-radius: 20px 20px 0 0;}
.gnb>ul>li:nth-child(2) .submenu>li:last-child {border-radius: 0 0 20px 20px;}
.gnb>ul>li:nth-child(2) .submenu>li:hover {background:#f00;}



.search {float:left;padding:0 15px;}

.visual {}
.main_slider {}
.main_slider figure {height:600px;}
.main_slider .item01 {background:url(../lib/bsse/main_visual01.jpg) no-repeat center center/cover;}
.main_slider .item02 {background:url(../lib/bsse/main_visual02.jpg) no-repeat center center/cover;}
.main_slider .item03 {background:url(../lib/bsse/main_visual03.jpg) no-repeat center center/cover;}

section h2 {font-size:30px;font-weight:500;margin-bottom:10px;}
section p {font-size:14px;font-weight:300;margin-bottom:30px;}

.content {padding:100px 0;text-align:center;}
.content .container>div {float:left;width:33.3333%;padding:0 15px;}
.content h2 {width:1200px;margin:0 auto;padding:0 15px;text-align:left;}
.content h2 small {float:right;font-size:13px;font-weight: 300;}

.event {padding:100px 0;text-align:center;background:#f2f2f2;}
.event .container>div {float:left;width:50%;padding:0 15px;}

.footer {padding:50px 0;background:#333;color:#fff;}
.footer .container>div {float:left;width:50%;padding:0 15px;text-align:right;font-size:0;}
/*자동으로 생기는 마진 4px 없애기 위해 font-size:0으로 설정함*/
.footer .container>div:nth-child(1) {text-align:left;}
.footer address {display:inline-block;font-size:14px;}
/*font-size 다시 설정해주기*/


