section {padding:100px 0;text-align: center;} /*모든섹션 옵션 미리 넣기*/
section .container {display:flex;width:1200px;margin:0 auto;}
section .container>* {flex:1;padding:0 15px;}

section h2 {font-size:30px;margin-bottom:15px;}
section p {font-size:15px;margin-bottom:30px;}
section:nth-child(even) {background:#f2f2f2;} /*다음섹션에 배경을 줘라*/
section img {max-width:100%;}



#sec01 h2:before {content:"before";font-size:14px;text-align:middle;}
#sec01 h2:after {content:"after";font-size:14px;text-align:middle;}



#sec02 h2:after {content:"";display: block;width:30px;height:2px;background:#333;margin:10px auto;} /*타이틀밑에가로선*/


#sec03 h2:after {content:"";display: block;width:2px;height:30px;background:#333;margin:10px auto;} /*타이틀밑에세로선*/


#sec04 h2:before{content:"";display:inline-block;width:40px;height:2px;background:#333;vertical-align: middle;margin:0 20px;} /*타이틀옆 중간에선*/
#sec04 h2:after {content:"";display:inline-block;width:40px;height:2px;background:#333;vertical-align: middle;margin:0 20px;} /*타이틀옆 중간에선*/
/*display:inline-block;박스인데 글자취급처럼 되라*/



#sec05 h2:after {content:"";display:block;width:40px;height:40px;background:url(../lib/base/pngegg.png) center center/cover;margin: 20px auto;}



#sec06 h2:before{content:"";display:inline-block;width:40px;height:40px;background:url(../lib/base/pngegg.png) center center/cover;vertical-align: middle;margin:0 20px;} /*타이틀옆 중간에 이미지*/
#sec06 h2:after {content:"";display:inline-block;width:40px;height:40px;background:url(../lib/base/pngegg.png) center center/cover;vertical-align: middle;margin:0 20px;} /*타이틀옆 중간에 이미지*/
/*display:inline-block;박스인데 글자취급처럼 되라*/



#sec07 li {line-height:30px;}
#sec07 li:before {content:"\ea0f";font-family: xeicon!important;font-size:12px;color:#444;margin-right:20px;} /*리스트앞에아이콘*/





#sec08 li {line-height:30px;}
#sec08 li:before {content:"\ea0f";font-family: xeicon!important;font-size:12px;color:#444;margin-right:20px;} /*리스트앞에아이콘*/
#sec08 li:hover:before {content: "\e922";color:#369;} /*마우스오버시 아이콘바뀌게*/
#sec08 li:hover:after {content:"more";font-size:10px;color:#333;} /*마우스오버하면뒤에 " "<<가 나와라*/




#sec09 h2 {display: inline-block;width:200px;line-height:60px;color:#f00;border:1px solid #333;position: relative;}
#sec09 h2:before {content: "";display:block;width:0;height:100%;background:#333;position: absolute;
top:0;right:0 ;transition:0.5s;z-index:-1;}/*left:0;왼쪽에서나옴 right:0 오른쪽에서나옴*/
#sec09 h2:hover:before {width:100%;} /*마우스오버했을때 0.5초로 배경이 나타나라*/



#sec09 figure {position: relative;}
#sec09 figure:after {content:attr(data-num);display: block;width:50px;height:50px;
line-height:42px;text-align:center;background:#333;color:#fff;font-size:20px;font-weight:700;
position: absolute;top:-25px;left:50%;transform:translateX(-50%);border:3px solid #fff;
border-radius:50%;opacity:0;transition:0.5s;}

#sec09 figure:hover:after {color:#f00;background:#369;opacity:1;}

/*라벨 붙이기.*/







#sec10 figure {position: relative;}
#sec10 figure:after {content:attr(data-num);display: block;width:50px;height:50px;
line-height:42px;text-align:center;background:#333;color:#fff;font-size:20px;font-weight:700;
position: absolute;top:-25px;left:50%;transform:translateX(-50%);border:3px solid #fff;
border-radius:50%;opacity:0;transition:0.5s;}

#sec10 figure.on:after {opacity:1;}




#sec11 .container {display:block;width:500px;height:500px;overflow:hidden;position: relative;}
#sec11 .container .move {display:flex;width:1500px;position: absolute;top:0;left:0;transition:0.2s;}

#sec11 .container .move figure {width:500px;}




#ani01 h2 {display:inline-block;animation:rubberBand 1s infinite;}
/*infinite 애니메이션을 계속해라*/
/*animate.css 에서 가져오기*/
/*#ani01 h2:hover {animation:rubberBand 1s infinite;}* 마우스오버시애니도 가능*/










