@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {margin: 0; padding: 0; box-sizing: border-box;
font-size: inherit;font-weight:inherit;font-style:normal;color:inherit;}
*:before, *:after {box-sizing: border-box;}
ul,ol,dl {list-style: none;}
a {text-decoration: none;}

body {font-family: 'Noto Sans KR', sans-serif;line-height: 1;}
img {vertical-align: middle;}